<div class="panel panel-default mt20">
    <div class="panel-heading">
        <strong style="line-height:35px;font-size:14px;">执行要求</strong>
        <button class="btn btn-primary btn pull-right clearfix" onclick="addDtl2()">添加</button>
        <button class="btn btn-primary btn pull-right" style="margin-right:5px;" onclick="delDemandBookDtl('2')">删除</button>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="dtl2-table" class="table table-bordered table-condensed table-hover text-center" >
                <thead>
                    <tr>
                        <th width="50">选择</th>
                        <th width="50">
                            复制
                        </th>
                        <th width="50">
                            详细
                        </th>
                        <th>
                            序号
                        </th>
                        <th>
                            访问时长
                        </th>
                        <th>
                            录音
                        </th>
                        <th>
                            录像
                        </th>
                        <th>
                            培训方式
                        </th>
                        <th>
                            进店前预约
                        </th>
                        <th>
                            进店规避要求
                        </th>
                        <th>
                            二次进店
                        </th>
                        <th>
                            二次进店比例
                        </th>
                        <th>
                            GPS定位/短信定位
                        </th>
                        <th>
                            手机答卷
                        </th>
                        <th>
                            报时方式
                        </th>
                        <th>
                            电话回访
                        </th>
                        <th>
                            电话回访号码要求
                        </th>
                        <th>
                            车主回访
                        </th>
                        <th>
                            集中接听
                        </th>
                        <th>
                            客服专线接听
                        </th>
                        <th>
                            其他说明
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>        
    </div>
</div>
<script>
    var detailView2 = 'Anfang/Detail/_PartialAnfangDtl2';
    var title2="执行要求";
    function addDtl2() {
        if (!CommitCheck()) {
            alert("正在审核中或者非本人添加的项目");
            return false;
        }
        setModal(title2, detailView2,undefined,true);
        $("#myModal").modal("show");
    }

    function loadAnfangDtl2() {
        $.post("/DemandBook/LoadAnfangDtl2", { RequirementId: $("#RequirementId").val() }, function (data) {
            if (data) {
                $("#dtl2-table tbody").empty();
                $.each(data, function (index, item) {
                    var tr = $("<tr>");

                    tr.append($("<td></td>").append($("<input type='checkbox'>")));
                    var copyBtn = $("<a class='btn btn-primary btn2'>").html("复制");
                    copyBtn.click(function () {
                        item.SeqNO = 0;
                        setModal(title2, detailView2, item, true);
                        $("#myModal").modal("show");
                    })
                    tr.append($("<td></td>").append(copyBtn));
                    var editBtn = $("<a class='btn btn-primary btn2'>").html("详细");
                    editBtn.click(function () {
                        setModal(title2, detailView2, item);
                        $("#myModal").modal("show");
                    })
                    tr.append($("<td></td>").append(editBtn));
                    tr.append($("<td></td>").html(item.SeqNO));
                    tr.append($("<td></td>").html(item.AccessTime));
                    tr.append($("<td></td>").html(item.SoundRecordChk));
                    tr.append($("<td></td>").html(item.Videotape));
                    tr.append($("<td></td>").html(item.TrainingMode));
                    tr.append($("<td></td>").html(item.Appointment));
                    tr.append($("<td></td>").html(item.Avoid));
                    tr.append($("<td></td>").html(item.IntoShopAgain));
                    tr.append($("<td></td>").html(item.IntoShopAgainRate));
                    tr.append($("<td></td>").html(item.GPSLocationOrSMS));
                    tr.append($("<td></td>").html(item.MobileAnswer));
                    tr.append($("<td></td>").html(item.TimeMothod));
                    tr.append($("<td></td>").html(item.TelReturnVisit));
                    tr.append($("<td></td>").html(item.TelReturnVisitNumberRequirement));
                    tr.append($("<td></td>").html(item.OwnerreturenVisit));
                    tr.append($("<td></td>").html(item.FocusAnswer));
                    tr.append($("<td></td>").html(item.CustomerServiceLine));
                    //tr.append($("<td></td>").html(item.RemarkDtl2));
                    var RemarkDtl2 = item.RemarkDtl2 != null ? item.RemarkDtl2.replace(/\n/g, '<br>') : "&nbsp;";
                    tr.append($("<td style='text-align: left;'></td>").html(RemarkDtl2));//其他说明

                    $("#dtl2-table tbody").append(tr);
                })
            }
        })
    }
</script>