
<div class="count2 inline-block" style="width: 100%;">
    <form id="search-quotation-form" class="form">
        <input id="GroupId" name="GroupId" type="hidden">
        <input id="ProjectId" name="ProjectId" type="hidden">
        <input id="RequirementGroupId" name="RequirementGroupId" class="form-control" type="hidden">
        @*<input id="ModelType" name="ModelType" class="form-control" type="hidden">*@
        <table style="width:99%">
            <tr>
                @*<td>确认单组名</td>
                    <td style="text-align:left" ><input id="QuotationGroupNameSpan" type="text" class="form-control" readonly="readonly" /></td>*@
                <td colspan="6" style="text-align:right">
                    <a id="btnCheckAll" class="btn btn-primary" style="width:100px">全选</a>
                    <a id="btnNotcheckAll" class="btn btn-primary" style="width:100px">反选</a>
                    <button id="btnQueryQuotation" type="button" class="btn btn-primary" style="width:100px">查 询</button>
                    <button id="btnSave2" type="button" class="btn btn-primary" style="width:100px">保 存</button>

                </td>
            </tr>
            <tr>
                <td>确认单类型</td>
                <td>
                    <select id="QuotationType" name="QuotationType" class="form-control">
                        <option value=""></option>
                        <option value="Biancheng">编程</option>
                        <option value="Zhixing">执行</option>
                        <option value="Fuhe">复核</option>
                        <option value="Yanjiu">研究</option>
                        <option value="Qita1">其他1</option>
                        <option value="Qita2">其他2</option>
                        <option value="Chezhan">车展</option>
                        <option value="Zhichi">支持</option>
                        <option value="Qita1">有形商品采购</option>
                        <option value="Qita2">无形商品采购</option>
                    </select>
                </td>
                <td>确认单组名</td>
                <td>
                    <input id="QuotationGroupName" name="QuotationGroupName" class="form-control" readonly>
                    <input id="QuotationGroupId" name="QuotationGroupId" class="form-control" type="hidden">
                </td>
                <td>
                    <a id="btnQuotationGroupSelect" class="btn btn-primary" style="width:100px;">选择确认单</a>
                </td>
            </tr>
        </table>
    </form>
    <div style="position:relative">
        <div id="search-result" class="table-responsive" style="max-height:350px;overflow: auto;"></div>
    </div>
</div>
<style>
    .quotation-table-input {
        width: 100px;
        border-radius: 4px;
        border: solid 1px #ddd;
        font-size: 12px;
        padding: 3px;
        height: 25px !important;
    }
</style>
<script src="~/Scripts/custom/form-serialize.js"></script>
<script src="~/Scripts/custom/province_city.js"></script>
<script>
    var ModelType, QuotationType, sourceData;
    $(function () {
        BindQuotation();
        //获取QuotationType
        QuotationType = '@ViewBag.QuotationType';
        if (QuotationType != "") {
            $("#QuotationType").val(QuotationType);
        }
        $("#btnQueryQuotation").click(function () {
            loadQuotation();
        })
        $("#btnQuotationGroupSelect").click(function () {
            QuotationSelect($("#search-quotation-form #GroupId").val());
        })
        $("#btnCheckAll").click(function () {
            $("#quotation-table-copy input[type=checkbox]").prop("checked", true).change();
        })
        $("#btnNotcheckAll").click(function () {
            $("#quotation-table-copy input[type=checkbox]").prop("checked", false).change();
        })
        $("#QuotationType").change(function () {
            var type = $(this).val();
            if (type == null || type == "") return false;
            if (type == "Youxingshangpincaigou") {
                type = "Qita1";
            }
            if (type == "Wuxingshangpincaigou") {
                type = "Qita2";
            }
            var view = "_PartialLoad" + type;
            debugger
            $("#search-result").empty();
            $("#search-result").load("/QuotationCopy/LoadPartial", { partialView: view });
        }).trigger("change");

        $("#btnSave2").click(function () {
            if (!CommitCheck()) {
                alert("正在审核中或者非本人添加的项目");
                return false;
            }

            if ($("#quotation-table tbody").is(":empty")) {
                alert("没有可以保存的数据");
                return false;
            }

            if (sourceData) {
                var saveData = [];
                $("#quotation-table-copy tbody tr").each(function (i, tr) {
                    if (i == $("#quotation-table-copy tbody tr").length - 1) {
                        //最后一行是合计，不保存
                        return;
                    }

                    var chk = $(tr).find("input[type=checkbox]");
                    if (chk.is(":checked")) {
                        var item = sourceData[i];
                        var inputs = $(tr).find("input:not([type=checkbox])");
                        if ($("#QuotationType").val() == "Zhixing") {
                            item.AccountUnit = inputs.eq(0).val();
                            item.UnitPrice = inputs.eq(1).val();
                            item.Count = inputs.eq(2).val();
                            item.Remark = inputs.eq(4).val();
                        } else if ($("#QuotationType").val() == "Qita1" || $("#QuotationType").val() == "Qita2") {
                            item.danjia = inputs.eq(0).val();
                            item.shuliang = inputs.eq(1).val();
                            item.beizhu = inputs.eq(3).val();
                        } else {
                            item.hesuandanwei = inputs.eq(0).val();
                            item.danjia = inputs.eq(1).val();
                            item.shuliang = inputs.eq(2).val();
                            item.beizhu = inputs.eq(4).val();
                        }

                        saveData.push(item);
                    }
                })
                debugger
                if (saveData.length == 0) {
                    alert("没有可以保存的数据");
                    return false;
                }

                for (i in saveData) {
                    if ($("#QuotationType").val() == "Zhixing") {
                        if ((saveData[i].UnitPrice == "0" || saveData[i].Count == "0")
                            && (!saveData[i].Remark || saveData[i].Remark.trim() == "")) {
                            alert("单价或数量为0，必须添加备注");
                            return false;
                        }
                    } else {
                        if ((saveData[i].danjia == "0" || saveData[i].shuliang == "0")
                            && (!saveData[i].beizhu || saveData[i].beizhu.trim() == "")) {
                            alert("单价或数量为0，必须添加备注");
                            return false;
                        }
                    }
                }

                $("#btnSave2").button("loading");
                $.post("/QuotationCopy/Save" + $("#QuotationType").val(), {
                    jsonArr: JSON.stringify(saveData),
                    ProjectId: $("#search-quotation-form #ProjectId").val(),
                    SupplierId: $("#search-quotation-form #SupplierId").val(),
                    GroupId: $("#search-quotation-form #GroupId").val(),
                }, function (data) {
                    loadQuotation();
                    alert("保存成功！");
                })
            }
        })
    })

    function loadQuotation() {
        var type = $("#QuotationType").val();
        if (type == null || type == "") {
            alert("请选择确认单类型");
            return false;
        }
        if ($("#QuotationGroupId").val() == null || $("#QuotationGroupId").val() == "") {
            alert("请选择确认单组");
            return false;
        }

        var params = $("#search-quotation-form").serializeJson();

        $("#btnQueryQuotation").button("loading");
        $.post("/QuotationCopy/Load" + type, { SourceGroupId: $("#search-quotation-form #QuotationGroupId").val(), TargetGroupId: $("#search-quotation-form #GroupId").val() }, function (data) {
            if (data && data.List) {
                sourceData = data.List;
                $("#quotation-table-copy tbody").empty();
                $.each(data.List, function (index, item) {
                    addQuotationTr(item);
                    $(this).find(".quotation-table-input:eq(3)").change(function () {

                    })
                })
            }
            if (data && data.List && data.List.length > 0) {
                //金额合计
                var tdCount = $("#quotation-table-copy th").length;
                var tr = $("<tr>");
                for (var i = 0; i < tdCount; i++) {
                    if (i == tdCount - 3) {
                        tr.append($("<td>").append($("<strong>").text("合计")));
                    } else {
                        tr.append($("<td>").text(""));
                    }
                }
                $("#quotation-table-copy tbody").append(tr);
                calHeji();
            }

            $("#btnSave2").button("reset");
        }).complete(function () { $("#btnQueryQuotation").button("reset"); })
    }

    function calHeji() {
        var tdCount = $("#quotation-table-copy th").length;
        var jinerheji = 0;
        $("#quotation-table-copy tbody tr").each(function () {
            var xiaoji = $(this).find("td:eq(" + (tdCount - 2) + ") input").val();
            if (xiaoji) {
                jinerheji += xiaoji.length > 0 ? parseFloat(xiaoji) : 0;
            }
        })
        $("#quotation-table-copy tbody tr:last-child").find("td").eq(tdCount - 2).empty().append($("<strong>").text(jinerheji.toFixed(2)));
    }
    function BindQuotation() {
        var bussiness = ["", "编程", "执行", "复核", "研究", "其他1", "其他2", "车展", "支持"];
        var bussinessEn = ["", "Biancheng", "Zhixing", "Fuhe", "Yanjiu", "Qita1", "Qita2", "Chezhan", "Zhichi"];
        var inter = ["", "有形商品采购", "无形商品采购"]
        var interrEn = ["", "Qita1", "Qita2"]
        var el = $("#QuotationType");
        var combo = $("<select id='QuotationType' name='QuotationType' class = 'form-control'> ");
        var input = $("<input id='QuotationType' name='QuotationType' class = 'form-control'> ");

        if ($("#ModelType").val() == "业务") {
            el = changeSelectInput(el, combo, input, true);
            for (i in bussiness) {
                el.append($("<option>").html(bussiness[i]).val(bussinessEn[i]));
            }
        } else {
            el = changeSelectInput(el, combo, input, true);
            for (i in inter) {
                el.append($("<option>").html(inter[i]).val(interrEn[i]));
            }
        }
        $("#QuotationType").data("live-search", true).prop("title", "").selectpicker("refresh");
    }
    function changeSelectInput(el, combo, input, isDropdown) {
        var newEl;
        if (isDropdown) {
            newEl = combo;
        } else {
            newEl = input;
        }
        var parent = el.parent();
        parent.empty();
        parent.append(newEl);

        return newEl;
    }
    function QuotationSelect(GroupId) {
        $("#RequirementModal").modal("show");
        $("#RequirementModal .modal-title").html("选择确认单组复制");
        $("#RequirementModal .modal-body").empty();
        $("#RequirementModal .modal-body").load("/QuotationGroup/QuotationGroupSelect", {
            ModelType: $("#ModelType").val(),
            ProjectName: "",
            ProjectShortName: ""
        }, function () {
            $("#TargetGroupId").val(GroupId);
        })
    };
    function QuotationSelectCallback(args) {
        debugger
        $("#search-quotation-form #QuotationGroupName").val(args.QuotationGroupName);
        $("#search-quotation-form #QuotationGroupId").val(args.GroupId);
        $("#RequirementModal").modal("hide");
    }
</script>