@{
    ViewBag.Title = "供应商评分登记及查询";
    Layout = "../SupplierMng/_SupplierMngLayout.cshtml";
 }
<div class="count inline-block">
    <form id="search-form" class="form">
        <table>
            <tr>
                <td colspan="11" style="text-align:right">
                    <a id="btnQuery" class="btn btn-primary" style="width:100px">查 询</a>
                    <a id="btnSave" class="btn btn-primary" style="width:100px" onclick="">保存</a>
                </td>
            </tr>
            <tr>
                <td width="60">项目名称</td>
                <td width="240">
                    <input id="ProjectId" name="ProjectId" class="form-control" type="hidden" />
                    <input id="ProjectName" name="ProjectName" class="form-control" readonly />
                    <input id="ProjectCode" name="ProjectCode" class="form-control" type="hidden">
                </td>
                <td width="80">项目简称</td>
                <td width="140">
                    <input id="ProjectShortName" name="ProjectShortName" class="form-control" readonly />
                </td>
                <td>
                    <a id="btnProjectSelect" class="btn btn-primary" style="width:100px">选择项目</a>
                </td>
                <td></td>
                <td width="90">供应商</td>
                <td width="250">
                    <input id="SupplierId" name="SupplierId" class="form-control" type="hidden" />
                    <input id="SupplierName" name="SupplierName" class="form-control">
                    <input id="SupplierCode" name="SupplierCode" class="form-control" type="hidden">
                    <input id="SupplierShortName" name="SupplierShortName" class="form-control" type="hidden">
                </td>
                <td>
                    <a id="btnSupplierSelect" class="btn btn-primary" style="width:100px">选择供应商</a>
                </td>
            </tr>

        </table>
    </form>
    <div id="search-result" class="table-responsive">
        <table id="supplierEva-table" class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>操作</th>
                    <th>供应商名称 </th>
                    <th>
                        评分类型
                    </th>
                    <th>
                        部门
                    </th>
                    <th>
                        考核指标
                    </th>
                    <th> 
                        考核点                       
                    </th>
                    <th width="100">
                        得分
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/custom/form-serialize.js"></script>
    <script>
        $(function () {
            $("#btnQuery").click(function () {
                load();
            })

            $("#btnProjectSelect").click(function () {
                ProjectSelect();
            })
            $("#btnSupplierSelect").click(function () {
                SupplierSelect(1);
            })
            
            $("#btnSave").click(function () {
                if ($("#ProjectId").val() == null || $("#ProjectId").val() == "") {
                    alert("请选择项目");
                    return false;
                }
                if ($("#SupplierId").val() == null || $("#SupplierId").val() == "") {
                    alert("请选择供应商");
                    return false;
                }
                var items = [];
                $("#supplierEva-table tbody tr").each(function () {
                    debugger
                    var form = $("<form>");
                    form.append($(this).find("input").clone());
                    var item = form.serializeJson();
                    item.ProjectId = $("#ProjectId").val();
                    item.SupplierId = $("#SupplierId").val();
                    item.Id = $("#SubjectId").val();

                    items.push(item);
                })
                $.post("/SupplierEva/Save", { jsonArr: JSON.stringify(items) }, function () {
                    alert("保存成功");
                })
            })
        })
        function load(pageNum) {
            if ($("#ProjectId").val() == null || $("#ProjectId").val() == "") {
                alert("请选择项目");
                return false;
            }

            $("#btnQuery").button("loading");
            var hasSupplier = $("#SupplierName").val().trim() != "";
            if (hasSupplier) {
                $("#supplierEva-table thead th:first-child").hide();
            } else {
                $("#supplierEva-table thead th:first-child").show();
            }
            var params = $("#search-form").serializeJson();
            params = $.extend(params, { pageSize: 20, pageNum: pageNum ? pageNum : 1 });
            $.post("/SupplierEva/Load", params, function (data) {
                if (data && data.List) {
                    $("#supplierEva-table tbody").empty();
                    $.each(data.List, function (index, item) {
                        var tr = $("<tr>");
                        if (!hasSupplier) {
                            var delBtn = $("<a>").html("删除");
                            delBtn.css("cursor", "pointer");
                            delBtn.click(function () {
                                $.post("/SupplierEva/Delete", { AnswerId: item.AnswerId }, function () {
                                    load(pageNum);
                                })
                            })
                            tr.append($("<td></td>").append(delBtn));
                        }
                        tr.append($("<td class='hidden'></td>")
                            .append($("<input type='hidden' name='EvaSubjectId'>").val(item.SubjectId)));
                        tr.append($("<td></td>").html(item.SupplierName));
                        tr.append($("<td></td>").html(item.SubjectType));                        
                        tr.append($("<td></td>").html(item.DepartmentName));
                        tr.append($("<td></td>").html(item.MainSubjectName));
                        tr.append($("<td></td>").html(item.SubSubjectName));

                        if (hasSupplier) {
                            var $ScoreInput = $("<input class='form-control' name='Score' >").val(item.Score);
                            tr.append($("<td></td>").append($ScoreInput));                             
                        } else {
                            tr.append($("<td></td>").html(item.Score));
                        }                       

                        $("#supplierEva-table tbody").append(tr);
                    })

                    if (data.CurPage) {
                       createPageNav({ $container: $("#pagination"), pageCount: data.PageCount, currentNum: data.CurPage, afterFun: load });
                    }
                }
            }).complete(function () { $("#btnQuery").button("reset"); });
        }
        function ProjectSelect() {
            $(".modal .modal-body").empty();
            $("#myModal").modal("show");
            $("#myModal .modal-title").html("选择项目");
            $("#myModal .modal-body").load("/DemandBook/ProjectSelect", { ModelType: "", ProjectCode: "", ProjectName: "", ProjectShortName: "" }, function () {
                //$(this).append($("<input id='SupplierMngId' type='hidden'>").val(id));
            });
        }
        function SupplierSelect(type) {
            $(".modal .modal-body").empty();
            $("#myModal").modal("show");
            $("#myModal .modal-title").html("选择供应商");
            $("#myModal .modal-body").load("/Constract/SupplierMngSelect",
                { SupplierCode: "", SupplierName: "", SupplierShortName: "", province: '', city: '' }, function () {
                    $("#myModal .modal-body #Type").val(type)
                });
        }
        function ProjectSelectCallback(args) {
            $("#ProjectCode").val(args[0]);
            $("#ProjectName").val(args[1]);
            $("#ProjectShortName").val(args[2]);
            $("#ProjectId").val(args[3]);
            $("#myModal").modal("hide");
        }
        function SupplierSelectCallback1(args) {
            
            $("#SupplierId").val(args.SupplierId);
            $("#SupplierCode").val(args.SupplierCode);
            $("#SupplierName").val(args.SupplierName);
            $("#SupplierShortName").val(args.SupplierShortName);
            $("#myModal").modal("hide");
        }
    </script>
}