<div class="panel panel-default mt20">
    <div class="panel-heading">
        <strong style="line-height:35px;font-size:14px;">资料提交</strong>
        <button class="btn btn-primary btn pull-right clearfix" onclick="addDtl5()">添加</button>
        <button class="btn btn-primary btn pull-right" style="margin-right:5px;" onclick="delDemandBookDtl('5')">删除</button>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="dtl5-table" class="table table-bordered table-condensed table-hover text-center">
                <thead>
                    <tr>
                        <th width="50">选择</th>
                        <th width="50">
                            复制
                        </th>
                        <th width="50">
                            详细
                        </th>
                        <th width="50">
                            序号
                        </th>
                        <th>
                            录音类型
                        </th>
                        <th>
                            合格录音比例
                        </th>
                        <th>
                            问卷类型
                        </th>
                        <th>
                            证照类型
                        </th>
                        <th>
                            合格证照比例
                        </th>
                        <th>
                            其他说明
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var detailView5 = 'Mianfangjidianfang/Detail/_PartialMianfangjidianfangDtl5';
    var title5 = "资料提交";
    function addDtl5() {
        if (!CommitCheck()) {
            alert("正在审核中或者非本人添加的项目");
            return false;
        }
        setModal(title5, detailView5);
        $("#myModal").modal("show");
    }

    function loadMianfangjidianfangDtl5() {
        $.post("/DemandBook/LoadMianfangjidianfangDtl5", { RequirementId: $("#RequirementId").val() }, function (data) {
            if (data) {
                $("#dtl5-table tbody").empty();
                $.each(data, function (index, item) {
                    var tr = $("<tr>");
                    tr.append($("<td></td>").append($("<input type='checkbox'>")));
                    var copyBtn = $("<a class='btn btn-primary btn2'>").html("复制");
                    copyBtn.click(function () {
                        item.SeqNO = 0;
                        setModal(title5, detailView5, item);
                        $("#myModal").modal("show");
                    })
                    tr.append($("<td></td>").append(copyBtn));
                    var editBtn = $("<a class='btn btn-primary btn2'>").html("详细");
                    editBtn.click(function () {
                        setModal(title5, detailView5, item);
                        $("#myModal").modal("show");
                    })
                    tr.append($("<td></td>").append(editBtn));
                    tr.append($("<td></td>").html(item.SeqNO));
                    tr.append($("<td></td>").html(item.luyinleixing));//录音类型
                    tr.append($("<td></td>").html(item.hegeluyingbili));//合格录音比例
                    tr.append($("<td></td>").html(item.wenjuanleixing));//问卷类型
                    tr.append($("<td></td>").html(item.zhengzhaoleixing));//证照类型
                    tr.append($("<td></td>").html(item.hegezhenghaobili));//合格证照比例
                    var qitashuoming = item.qitashuoming5 != null ? item.qitashuoming5.replace(/\n/g, '<br>') : "&nbsp;";
                    tr.append($("<td style='text-align: left;'></td>").html(qitashuoming));//其他说明


                    $("#dtl5-table tbody").append(tr);
                })
            }
        })
    }
</script>