<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PurchaseEntities" connectionString="metadata=res://*/PurchaseEntities.csdl|res://*/PurchaseEntities.ssdl|res://*/PurchaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.57.229.128;initial catalog=Purchase;persist security info=True;user id=Purchase;password=Purchase1@;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="EmailHost" value="211.150.65.49"/>
    <add key="EmailPort" value="25"/>
    <add key="EmailUserName" value="pd@maxinsight.cn"/>
    <add key="EmailPassword" value="Max2017"/>
    <add key="EmailMailFrom" value="pd@maxinsight.cn"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>