
<div class="count2" style="min-height:100px">
    <div id="loading" class="loading">Loading...</div>  
    <div id="search-result" style="overflow-y: auto;margin-bottom:10px;display:none">
        <table id="general-stat-result-table" class="table table-bordered table-condensed table-hover" style="margin-bottom:0px;">
            <thead>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

