@{
    ViewBag.Title = "价格统计表查询-追加";
    Layout = "../FlowOrder/_FlowOrderLayout.cshtml";
}
<div class="count inline-block">
    <form id="search-form" class="form">
        <table>
            <tr>
                <td colspan="9" style="text-align:right">
                    <a id="btnQuery" class="btn btn-primary" style="width:100px">查 询</a>
                    <button id="btnExport" onclick="exportExcel()" type="button" class="btn btn-primary" style="width:100px" data-loading-text="正在导出...">导出Excel</button>
                </td>
            </tr>
            <tr>
                <td width="70">模块类型</td>
                <td>
                    <select id="ModelType" name="ModelType" class="form-control">
                        <option value="业务">业务</option>
                        <option value="内部采购">内部采购</option>
                        <option value="其他">其他</option>
                    </select>
                </td>
                <td width="70">服务行业</td>
                <td>
                    <select id="ServiceTrade" name="ServiceTrade" class="form-control"></select>
                </td>
                <td width="80">期间</td>
                <td width="240">
                    <input id="StartDate" name="StartDate" class="form-control" onclick="WdatePicker()" />
                </td>
                <td width="10" style="text-align:center">至</td>
                <td width="240">
                    <input id="EndDate" name="EndDate" class="form-control" onclick="WdatePicker()" />
                </td>
            </tr>
        </table>
    </form>
    <div style="position:relative">
        <div id="search-result" class="table-responsive">
            <table id="Jiagetongjiebiao-table" class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th>费用内容</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div id="pagination" class="pull-right">
        <ul id="pageUl"></ul>
    </div>
</div>
@section Scripts {
    <script src="~/Content/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/custom/form-serialize.js"></script>
    <script>
        var ModelType, QuotationType, thcount=1;
        $(function () {
            $("#btnQuery").click(function () {
                load();
            })
            $("#ModelType").change(function () {
                BindServieTrade()
            }).trigger("change");
        })
        function exportExcel() {
            $("#btnExport").button("loading");
            alert("正在导出...");

            var type = $("#QuotationType").val();
            var params = $("#search-form").serializeJson();
            if (params.StartDate == "") {
                params.StartDate = "1900-01-01";
            }
            if (params.EndDate == "") {
                params.EndDate = "2999-01-01";
            }
            
            params = $.extend(params, { QuotationType: type });
            $.post("/Jiagetongjiebiao/ExportZhuijia", params, function (data) {
                window.location.href = "/Jiagetongjiebiao/DownloadFile?fileName=" + data.ExportPath;
            }).complete(function () {
                $("#btnExport").button("reset");
                closealert();
            });
        }
        function load(pageNum) {
            $("#btnQuery").button("loading");
            $("#search-result").clearFixLayout();

            var type = $("#QuotationType").val();
            var params = $("#search-form").serializeJson();
            if (params.StartDate == "") {
                params.StartDate = "1900-01-01";
            }
            if (params.EndDate == "") {
                params.EndDate = "2999-01-01";
            }
            params = $.extend(params, { pageSize: 10, pageNum: pageNum ? pageNum : 1 });
            $.post("/Jiagetongjiebiao/LoadZhuijia", params, function (data) {
                if (data && data.HeaderDtoList && data.LeftDtoList && data.DataDtoList) {
                    $("#Jiagetongjiebiao-table thead tr th").each(function (i) {
                        if (i >= thcount) {
                            $(this).remove();
                        }
                    });

                    $("#Jiagetongjiebiao-table tbody").empty();
                    //增加动态列头
                    var headTr = $("#Jiagetongjiebiao-table thead tr").eq(0);
                    $.each(data.HeaderDtoList, function (index, item) {
                        headTr.append($("<th></th>").html(item.zhixingchengshi));
                    })

                    $.each(data.LeftDtoList, function (index, leftItem) {
                        var tr = addJiagetongjibiaoTr(leftItem);

                        $.each(data.HeaderDtoList, function (index, item) {
                            tr.append($("<td></td>").html(""));
                        })
                        //动态绑定值
                        $.each(data.DataDtoList, function (i, dataItem) {
                            if (compareObject(dataItem, leftItem)) {
                                var bindThIndex = 0;
                                $.each(headTr.find("th"), function (thi, headTh) {
                                    if ($(this).text() == dataItem.zhixingchengshi) {
                                        bindThIndex = thi;
                                    }
                                });
                                $.each(tr.find("td"), function (tdi, bodyTd) {
                                    if (tdi == bindThIndex) {
                                        $(bodyTd).text(dataItem.danjia_AVG);
                                    }
                                })
                            }
                        })

                        $("#Jiagetongjiebiao-table tbody").append(tr);
                    })
                    
                    if (data.DataDtoList.length > 0) {
                        //增加合计
                        calHeji(thcount, data.HeaderDtoList.length);
                        $("#search-result").fixHeadColumn({ fixColumnIndex: 1 });
                    }
                }

                createPageNav({ $container: $("#pagination"), pageCount: data.PageCount, currentNum: data.CurPage, afterFun: load });
            }).complete(function () { $("#btnQuery").button("reset"); });
        }
        //增加合计
        function calHeji(thcount, dynamicCount) {
            //预算小计合计
            var tr = $("<tr>");

            var tdCount = thcount + dynamicCount;
            var hejiArr = new Array(dynamicCount);
            for (var i = 0; i < dynamicCount; i++) {
                hejiArr[i] = 0;
            }
            $("#Jiagetongjiebiao-table tbody tr").each(function () {
                var tds = $(this).find("td");
                for (var i = 0; i < dynamicCount; i++) {
                    var v = parseFloat(tds.eq(thcount + i).text());
                    if (!isNaN(v)) {
                        hejiArr[i] += v;
                    }
                }
            })
            for (var i = 0; i < tdCount; i++) {
                var td = $("<td>");
                if (i == 0) {
                    tr.append($("<td><strong>合计<strong></td>"));
                    continue;
                }
                for (var j = 0; j < dynamicCount; j++) {
                    if (j + thcount == i) {
                        td.html(hejiArr[j].toFixed(2));
                    }
                }
                tr.append(td);
            }

            $("#Jiagetongjiebiao-table tbody").append(tr);
        }

        function addJiagetongjibiaoTr(item) {
            var tr = $("<tr>");

            tr.append($("<td></td>").html(item.FeeContent));

            return tr;
        }
        //比较两个对象，属性名一样的值是否都一样，有一个属性值不相等返回false
        function compareObject(obj1, obj2) {
            if (obj1 && obj2) {
                var flag = true;
                for (pro1 in obj1) {
                    for (pro2 in obj2) {
                        if (pro1 == pro2) {
                            flag = flag & (obj1[pro1] == obj2[pro2])
                        }
                    }
                }
                return flag;
            }
            return false;
        }
        function BindServieTrade() {
            debugger
            var bussiness = ["Max"];
            var qita = ["Trip", "Zebrac", "Star"];
            var el = $("#ServiceTrade");
            var combo = $("<select id='ServiceTrade' name='ServiceTrade' class = 'form-control'> ");
            var input = $("<input id='ServiceTrade' name='ServiceTrade' class = 'form-control'> ");

            if ($("#ModelType").val() == "业务" || $("#ModelType").val() == "内部采购") {
                el = changeSelectInput(el, combo, input, true);
                for (i in bussiness) {
                    el.append($("<option>").html(bussiness[i]).val(bussiness[i]));
                }
            } else {
                el = changeSelectInput(el, combo, input, true);
                for (i in qita) {
                    el.append($("<option>").html(qita[i]).val(qita[i]));
                }
            }
            $("#ServiceTrade").data("live-search", true).prop("title", "").selectpicker("refresh");
        }
        function changeSelectInput(el, combo, input, isDropdown) {
            var newEl;
            if (isDropdown) {
                newEl = combo;
            } else {
                newEl = input;
            }
            var parent = el.parent();
            parent.empty();
            parent.append(newEl);

            return newEl;
        }

    </script>
}