@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body inline-block-father">
    <div class="menu inline-block">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>用户管理</h4></div>
            <div class="panel-body">
                <a href="/MstUserInfo/">用户管理</a>
            </div>
        </div>  
        <div class="panel panel-default">
            <div class="panel-heading"><h4>流程管理</h4></div>
            <div class="panel-body">
                <a href="/RecheckProcess/">流程管理</a>
            </div>
        </div>   
        <div class="panel panel-default">
            <div class="panel-heading"><h4>字典管理</h4></div>
            <div class="panel-body">               
                <a  href="/HiddenCode/">字典查询</a>
            </div>
        </div>       
    </div>
    @RenderBody()
    @RenderSection("scripts", required: false)
</div>