@{
    ViewBag.Title = "决算统计表1查询-其他";
    Layout = "../FlowOrder/_FlowOrderLayout.cshtml";
}
<div class="count inline-block">
    <form id="search-form" class="form">
        <table>
            <tr>
                <td colspan="10" style="text-align:right">
                    <button id="btnQuery" type="button" class="btn btn-primary" style="width:100px">查 询</button>
                    <button id="btnExport" onclick="exportExcel()" type="button" class="btn btn-primary" style="width:100px" data-loading-text="正在导出...">导出Excel</button>

                </td>
            </tr>
            <tr>
                <td width="70">模块</td>
                <td width="120">
                    <select id="ModelType" name="ModelType" class="form-control">
                        <option value="其他">其他</option>
                    </select>
                </td>
                <td width="80">服务行业</td>
                <td>
                    <select id="ServiceTrade" name="ServiceTrade" class="form-control">
                        <option value="Trip">Trip</option>
                        <option value="Zebrac">Zebrac</option>
                        <option value="Star">Star</option>
                    </select>
                </td>
                <td width="80">采购类型</td>
                <td width="220">
                    <select id="PurchaseType" name="PurchaseType" class="form-control">
                        <option value="有形商品采购">有形商品采购</option>
                        <option value="无形商品采购">无形商品采购</option>
                    </select>
                </td>   
                <td width="80">期间</td>
                <td width="150">
                    <input id="StartDate" name="StartDate" class="form-control" onclick="WdatePicker()" />
                </td>
                <td width="20" style="text-align:center">至</td>
                <td width="150">
                    <input id="EndDate" name="EndDate" class="form-control" onclick="WdatePicker()" />
                </td>
            </tr>
        </table>
    </form>
    <div style="position:relative">
        <div id="search-result" class="table-responsive fix-table-div">
            <table id="Juesuantongjiebiao-table" class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th width="250">城市</th>
                        <th width="200">供应商简称</th>
                        <th width="200">总金额</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div id="pagination" class="pull-right">
        <ul id="pageUl"></ul>
    </div>
</div>

@section Scripts {
    <script src="~/Content/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/custom/form-serialize.js"></script>
    <script>
        var thcount;
        $(function () {
            $("#btnQuery").click(function () {
                load();
            })
        })

        function exportExcel() {
            $("#btnExport").button("loading");
            alert("正在导出...");

            var params = $("#search-form").serializeJson();
            if (params.StartDate == "") {
                params.StartDate = "1900-01-01";
            }
            if (params.EndDate == "") {
                params.EndDate = "2999-01-01";
            }
            $.post("/Juesuantongjiebiao/ExportNeibugoubiao1", params, function (data) {
                window.location.href = "/Juesuantongjiebiao/DownloadFile?fileName=" + data.ExportPath;
            }).complete(function () {
                $("#btnExport").button("reset");
                closealert();
            });
        }

        function load(pageNum) {
            $("#btnQuery").button("loading");
            $("#search-result").clearFixLayout();

            var params = $("#search-form").serializeJson();
            if (params.StartDate == "") {
                params.StartDate = "1900-01-01";
            }
            if (params.EndDate == "") {
                params.EndDate = "2999-01-01";
            }
            params = $.extend(params, { pageSize: 10, pageNum: pageNum ? pageNum : 1 });

            $.post("/Juesuantongjiebiao/LoadNeibugoubiao1", params, function (data) {
                if (data && data.HeaderDtoList && data.LeftDtoList && data.DataDtoList) {
                    $("#Juesuantongjiebiao-table thead tr th").each(function (i) {
                        if (i > 2) {
                            $(this).remove();
                        }
                    });
                    $("#Juesuantongjiebiao-table tbody").empty();
                    //增加动态列头  
                    var headTr = $("#Juesuantongjiebiao-table thead tr").eq(0);
                    $.each(data.HeaderDtoList, function (index, item) {                                              
                        headTr.append($("<th></th>").html(item.SupplyService));
                    })
                    $.each(data.LeftDtoList, function (index, leftItem) {
                        var tr = $("<tr>");

                        tr.append($("<td></td>").html(leftItem.City));
                        tr.append($("<td></td>").html(leftItem.SupplierName));
                        tr.append($("<td></td>").html(parseFloat(leftItem.SupplierSumAmt).toFixed(2)));

                        $.each(data.HeaderDtoList, function (index, item) {
                            tr.append($("<td></td>").html(""));
                        })
                        //动态绑定值
                        $.each(data.DataDtoList, function (i, dataItem) {
                            if (dataItem.SupplierId == leftItem.SupplierId) {
                                var bindThIndex = 0;
                                $.each(headTr.find("th"), function (thi, headTh) {
                                    if ($(this).text() == dataItem.SupplyService) {
                                        bindThIndex = thi;
                                    }
                                });
                                $.each(tr.find("td"), function (tdi, bodyTd) {
                                    if (tdi == bindThIndex) {
                                        $(bodyTd).text(parseFloat(dataItem.SupplyServiceSumAmt).toFixed(2));
                                    }
                                })
                            }                      
                        })                        

                        $("#Juesuantongjiebiao-table tbody").append(tr);
                    })
                    if (data.DataDtoList.length > 0) {
                        //增加合计
                        calHeji(2, data.HeaderDtoList.length + 1);
                    }
                }
                createPageNav({ $container: $("#pagination"), pageCount: data.PageCount, currentNum: data.CurPage, afterFun: load });
            }).complete(function () { $("#btnQuery").button("reset"); });
        };


        //增加合计
        function calHeji(thcount, dynamicCount) {
            //预算小计合计
            var tr = $("<tr>");

            var tdCount = thcount + dynamicCount;
            $("#Juesuantongjiebiao-table thead tr").each(function () {
                tdCount = $(this).find("th").length;
            })
            var hejiArr = new Array(dynamicCount);
            for (var i = 0; i < dynamicCount; i++) {
                hejiArr[i] = 0;
            }
            $("#Juesuantongjiebiao-table tbody tr").each(function () {
                var tds = $(this).find("td");
                for (var i = 0; i < dynamicCount; i++) {
                    var v = parseFloat(tds.eq(thcount + i).text());
                    if (!isNaN(v)) {
                        hejiArr[i] += v;
                    }
                }
            })
            for (var i = 0; i < tdCount; i++) {
                var td = $("<td>");
                if (i == 0) {
                    tr.append($("<td><strong>合计<strong></td>"));
                    continue;
                }
                for (var j = 0; j < dynamicCount; j++) {
                    if (j + thcount == i) {
                        td.html(hejiArr[j].toFixed(2));
                    }
                }
                tr.append(td);
            }

            $("#Juesuantongjiebiao-table tbody").append(tr);
        }
    </script>
}