<div style="position:relative" class="count2">
    <form id="popup-search-form" class="form">
        <input type="hidden" id="PopupSettlementId" name="SettlementId">
        <input type="hidden" id="PopupSeqNO_Supplier" name="SeqNO_Supplier">
        <input type="hidden" id="PopupProjectId" name="ProjectId" />
        <input type="hidden" id="PopupSupplierId" name="SupplierId" />
        <input type="hidden" id="PopupQuotationGroupId" name="QuotationGroupId" />
        <input type="hidden" id="PopupDelChk"/>

        <table style="width:100%">
            <tr>
                <td></td>
                <td style="width: 150px;text-align:right;">
                    最后一次结算单：<input name="SettleChk" id="SettleChk" type="checkbox" />
                </td>
                <td style="text-align:right;width: 100px;">
                    <button id="btnSavePopup" type="button" class="btn btn-primary" style="width:100px">保 存</button>
                </td>
            </tr>
        </table>
    </form>   

    <div class="settlement-add table-responsive" style="max-height:580px; overflow:auto">
        <table style="width:500px">
            <tr>
                <td width="80"><strong>执行周期：</strong></td>
                <td style="text-align:left"><span id="ExecuteCycle"></span></td>
                <td width="120"><strong>执行省份-城市：</strong></td>
                <td style="text-align:left"><span id="zhixingchengshi"></span></td>
            </tr>
        </table>
        <div>
            <table id="SettlementDtl-table-1" class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th width="400px">费用内容</th>
                        <th width="120px">单价</th>
                        <th width="120px">数量</th>
                        <th width="120px">合计</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="panel panel-default" style="margin-bottom:0px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse-table-2">
                            扣款说明
                        </a>
                    </h4>
                </div>
                <div id="collapse-table-2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="SettlementDtl-table-2" class="table table-bordered table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th width="400px">费用内容</th>
                                    <th width="120px">单价</th>
                                    <th width="120px">数量</th>
                                    <th width="120px">合计</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" style="margin-bottom:0px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse-table-3">
                            追加说明
                        </a>
                    </h4>
                </div>
                <div id="collapse-table-3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div style="width:100%;text-align:right">
                            <button id="btnAddZuijia" type="button" class="btn btn-primary btn-xs" style="width:70px">追 加</button>
                        </div>
                        <table id="SettlementDtl-table-3" class="table table-bordered table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th width="400px">费用内容</th>
                                    <th width="120px">单价</th>
                                    <th width="120px">数量</th>
                                    <th width="120px">合计</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <table id="SettlementDtl-table-4" class="table table-bordered table-condensed table-hover">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
           
            <div class="pull-right">
                <h4 class="title" style="text-align:right">小计</h4>
                <table id="heji-table" class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th width="120px">执行小计</th>
                            <th width="120px">扣款小计</th>
                            <th width="120px">追加小计</th>
                            <th width="120px">结算金额</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var FlowOrderSum;
    var SaveChk;
    var shoudongZhuijiaSource;

    $(function () {
        $("#btnAddZuijia").click(function () {
            addShoudongZhuijiaTr();
        });
        //最后一次结算单选择框修改事件
        $("#SettleChk").change(function () {
            var params = $("#popup-search-form").serializeJson();
            debugger
            $.post("/Settlement/SettleDtlMainSearch", {
                projectId: $("#PopupProjectId").val(),
                supplierId: $("#PopupSupplierId").val(),
                quotationGroupId: $("#PopupQuotationGroupId").val(),
                settlementId: $("#PopupSettlementId").val(),
                settleChk: $("input[name='SettleChk']").is(':checked'),
                delChk: $("#PopupDelChk").val()
            }, function (data) {
                FlowOrderSum = parseFloat(data.FlowOrderSum) || 0;
                //修改首付款金额
                $("#heji-table tbody tr:nth-child(2) td:last-child").text(FlowOrderSum.toFixed(2));
            })
        }).change();

        $("#btnSavePopup").click(function () {
            // 判断项目是否为本人添加的项目
            if (!CommitCheck()) {
                alert("正在审核中或者非本人添加的项目");
                return false;
            }
            if ($("#ProjectStep").val() == "竞标") {
                alert("此项目为竞标项目，不需要填写结算单");
                return false;
            }

           
            var jsonArr = [];

            $("#SettlementDtl-table-1 tbody tr,#SettlementDtl-table-2 tbody tr,#SettlementDtl-table-3 tbody tr").each(function (i, tr) {
                var form = $("<form>").append($(tr).clone());
                var obj = form.serializeJson();
                jsonArr.push(obj);
            });
            var shoudongArr = [];
            $("#SettlementDtl-table-4 tbody tr").each(function (i, tr) {
                var inputs = $(tr).find("td input");
                var item = { SettlementId: '0' };
                if (shoudongZhuijiaSource.length > i) {
                    item = shoudongZhuijiaSource[i]
                }
                item.FeeContent = inputs.eq(0).val();
                item.danjia = inputs.eq(1).val();
                item.SettleCount = inputs.eq(2).val();
                item.SettleAmt = inputs.eq(3).val();
                item.Remark = inputs.eq(4).val();
                shoudongArr.push(item);
            });
            // 判断项目是否为本人添加的项目
            if (jsonArr.length == 0) {
                alert("没有需要保存的数据");
                return false;
            }
            $("#btnSavePopup").button("loading");
            $.post("/Settlement/SaveSettlementDtls", {
                ProjectId: $("#PopupProjectId").val(),
                SupplierId: $("#PopupSupplierId").val(),
                QuotationGroupId: $("#QuotationGroupId").val(),
                SettlementId: $("#PopupSettlementId").val(),                
                jsonArr: JSON.stringify(jsonArr),
                shoudongArr: JSON.stringify(shoudongArr)
            }, function (data) {
                var json = [{
                    SettlementId:data.SettlementId,
                    SettleChk: $("#SettleChk").is(":checked"),
                    DelChk: $("#PopupDelChk").val()
                }]
                $.post("/Settlement/SaveSettlementMsts", {
                    jsonArr: JSON.stringify(json),
                }, function () {
                    alert("保存成功！");
                    settlementDtlCallback();
                })               
            }).complete(function () { $("#btnSavePopup").button("reset"); })
        })

        $("#btnQuotationGroupSelect").click(function () {
            QuotationGroupSelect();
        })
    })
    function addShoudongZhuijiaTr(item) {
        var tr = $("<tr>");
        for (var i = 0; i < 5; i++) {
            var td = $("<td></td>").append($("<input class='form-control'>"));
            if (i == 0) {
                td.css("width", 400);
            } else if (i == 4) {
                td.css("width", 344);
            } else {
                td.css("width", 120);
            }
            if (i == 1) {
                td.find("input").attr("readonly", true);
            }
            tr.append(td);
        }

        $("#SettlementDtl-table-4 tbody").append(tr);
        var inputs = tr.find("td input");
        inputs.eq(2).change(function () {
            calShoudongZhuijiaHeji(inputs.eq(2).val(), inputs.eq(3).val(), inputs.eq(1));
        })
        inputs.eq(3).change(function () {
            calShoudongZhuijiaHeji(inputs.eq(2).val(), inputs.eq(3).val(), inputs.eq(1));
            calaHeji();

        })
        if (item) {
            inputs.eq(0).val(item.FeeContent);
            inputs.eq(1).val(item.danjia);
            inputs.eq(2).val(item.SettleCount);
            inputs.eq(3).val(item.SettleAmt);
            inputs.eq(4).val(item.Remark);
        }
    }

    function calShoudongZhuijiaHeji(shuliang, heji, danjiaInput) {
        if (shuliang && heji) {
            var danjia = parseFloat(heji) / parseFloat(shuliang);
            $(danjiaInput).val(danjia.toFixed(2));
        }
        else {
            $(danjiaInput).val("");
        }
    }
    function loadSettlementDtls() {
        if ($("#PopupProjectId").val() == "" || $("#PopupSupplierId").val() == "") {
            $(".settlement-add .table tbody").empty();
            return;
        }
        SaveChk = undefined;
        var params = $("#popup-search-form").serializeJson();
        $.post("/Settlement/LoadSettlementDtlsForEdit", params, function (data) {
            if (data && data.List) {
                if (data.MainObject) {
                    if (data.MainObject.ExecuteCycle) {
                        $("#ExecuteCycle").text(data.MainObject.ExecuteCycle);
                    }
                    if (data.MainObject.zhixingchengshi) {
                        $("#zhixingchengshi").text(data.MainObject.zhixingchengshi);
                    }
                    $("#SettlementId").val(data.MainObject.SettlementId);
                    FlowOrderSum = parseFloat(data.MainObject.FlowOrderSum);
                } else {
                    FlowOrderSum = 0;
                }                

                clearTables();
                $.each(data.List, function (index, item) {
                    $("#SettlementDtl-table-" + item.SettlementType + " tbody").append(bindDtlTr(index, item, item.SettlementType));
                })

                shoudongZhuijiaSource = data.ZuijiaShoudongList;
                $.each(data.ZuijiaShoudongList, function (index, item) {
                    addShoudongZhuijiaTr(item);
                })

                calaHeji();
            }
        })
    };

    function clearTables() {
        $("#SettlementDtl-table-1 tbody").empty();
        $("#SettlementDtl-table-2 tbody").empty();
        $("#SettlementDtl-table-3 tbody").empty();
        $("#SettlementDtl-table-4 tbody").empty();
        $("#heji-table tbody").empty();
    }

    function calaHeji() {
        FlowOrderSum = FlowOrderSum || 0;
        var sumAmt1 = 0;
        $("#SettlementDtl-table-1 tbody tr").each(function () {
            var amtStr = $(this).find("#SettleAmt").val();
            if (amtStr && amtStr != "") {
                sumAmt1 += parseFloat(amtStr);
            }
        })
        var sumAmt2 = 0;
        $("#SettlementDtl-table-2 tbody tr").each(function () {
            var amtStr = $(this).find("#SettleAmt").val();
            if (amtStr && amtStr != "") {
                sumAmt2 += parseFloat(amtStr);
            }
        })
        var sumAmt3 = 0;
        $("#SettlementDtl-table-3 tbody tr").each(function () {
            var amtStr = $(this).find("#SettleAmt").val();
            if (amtStr && amtStr != "") {
                sumAmt3 += parseFloat(amtStr);
            }
        })
        $("#SettlementDtl-table-4 tbody tr").each(function () {
            var amtStr = $(this).find("input:eq(3)").val();
            if (amtStr && amtStr != "") {
                sumAmt3 += parseFloat(amtStr);
            }
        })
        var heji = sumAmt1 - sumAmt2 + sumAmt3;

        var tr1 = $("<tr>");
        tr1.append($("<td>").text(sumAmt1.toFixed(2)))
            .append($("<td>").text(sumAmt2.toFixed(2)))
            .append($("<td>").text(sumAmt3.toFixed(2)))
            .append($("<td>").text(heji.toFixed(2)));
        var tr2 = $("<tr>");
        tr2.append($("<td>").text("首付款金额")).append($("<td>")).append($("<td>"));
        tr2.append($("<td>").text(FlowOrderSum.toFixed(2)));
        var tr3 = $("<tr>");
        tr3.append($("<td>").text("尾款金额")).append($("<td>")).append($("<td>"));
        tr3.append($("<td>").text((heji - FlowOrderSum).toFixed(2)));

        $("#heji-table tbody").empty();
        $("#heji-table tbody").append(tr1).append(tr2).append(tr3);

    }

    function bindDtlTr(i, item, type) {
        var tr = $("<tr>");

        tr.append($("<td style='width:400px'></td>").html(item.FeeContent));
        var danjiaInput = $("<input id='danjia' name='danjia' class='form-control'>").val(item.danjia);
        var countInput = $("<input id='SettleCount' name='SettleCount' class='form-control'>").val(item.SettleCount);
        var SettleAmtInput = $("<input id='SettleAmt' name='SettleAmt' class='form-control'>").val(item.SettleAmt);
        if (type == "1") {
            danjiaInput.prop("readonly", true);
            SettleAmtInput.prop("readonly", true);
            countInput.change(function () {
                SettleAmtInput.val(FloatMul($(this).val(), danjiaInput.val()).toFixed(2));

                var index = i % $("#SettlementDtl-table-2 tbody tr").length;
                $("#SettlementDtl-table-2 tbody tr").eq(index).find("#SettleCount").val($(this).val())
                $("#SettlementDtl-table-2 tbody tr").eq(index).find("#SettleAmt").change();
                $("#SettlementDtl-table-3 tbody tr").eq(index).find("#SettleCount").val($(this).val())
                $("#SettlementDtl-table-3 tbody tr").eq(index).find("#SettleAmt").change();

                calaHeji();
            })
        } else {
            danjiaInput.prop("readonly", true);
            countInput.prop("readonly", true);
            SettleAmtInput.change(function () {
                var settleCount = $(this).parent().prev().children().eq(0).val();
                if ($(this).val() != '' && settleCount != "") {
                    var SettleAmt = parseFloat($(this).val());
                    danjiaInput.val((SettleAmt / settleCount).toFixed(2));
                }
                else {
                    danjiaInput.val("");
                }
                calaHeji();
            })
        }
        tr.append($("<td  style='width:120px'></td>").append(danjiaInput));
        tr.append($("<td  style='width:120px'></td>").append(countInput));
        tr.append($("<td  style='width:120px'></td>").append(SettleAmtInput));
        var RemarkInput = $("<input id='Remark' name='Remark' class='form-control'>").val(item.Remark);
        tr.append($("<td style='width:344px'></td>").append(RemarkInput));

        var SettlementTypeHidden = $("<input type='hidden'id='SettlementType' name='SettlementType'>").val(item.SettlementType);
        var settlementIdHidden = $("<input type='hidden'id='SettlementId' name='SettlementId'>").val(item.SettlementId);
        var quotationIdHidden = $("<input type='hidden'id='Quotationid' name='Quotationid'>").val(item.Quotationid);
        var settlementSeqNOHidden = $("<input type='hidden'id='settlementSeqNO' name='settlementSeqNO'>").val(item.settlementSeqNO);
        var SeqNOHidden = $("<input type='hidden'id='SeqNO' name='SeqNO'>").val(item.SeqNO);
        tr.append($("<td style='display:none'></td>")
            .append(SettlementTypeHidden)
            .append(SeqNOHidden)
            .append(settlementIdHidden)
            .append(quotationIdHidden)
            .append(settlementSeqNOHidden));

        return tr;
    }

    function FloatMul(arg1, arg2) {
        var m = 0, s1 = arg1.toString(), s2 = arg2.toString();
        try { m += s1.split(".")[1].length } catch (e) { }
        try { m += s2.split(".")[1].length } catch (e) { }
        return Number(s1.replace(".", "")) * Number(s2.replace(".", "")) / Math.pow(10, m);
    }

</script>