@{
    ViewBag.Title = "预算确认单组登记、查询";
    Layout = "~/Views/Shared/_PurchaseLayout.cshtml";
}
<div class="count inline-block">
    <form id="search-form" class="form">
        <input id="QuotationType_Hidden" name="QuotationType_Hidden" type="hidden" />
        <table>
            <tr>
                <td colspan="11" style="text-align:right">
                    <button id="btnQuery" type="button" class="btn btn-primary" style="width:100px">查 询</button>
                    <button id="btnAdd" type="button" class="btn btn-primary" style="width:100px">新 增</button>
                </td>
            </tr>
            <tr>
                <td width="80">模块类型</td>
                <td width="100">
                    <select id="ModelType" name="ModelType" class="form-control"></select>
                </td>
                <td width="60">服务行业</td>
                <td width="100">
                    <select id="ServiceTrade" name="ServiceTrade" class="form-control"></select>
                </td>
                <td width="70">项目编码</td>
                <td>
                    <input id="ProjectId" name="ProjectId" class="form-control" type="hidden" />
                    <input id="ProjectCode" name="ProjectCode" class="form-control" readonly="readonly" />
                    <input id="ProjectApplyStatusCode" name="ProjectApplyStatusCode" class="form-control" type="hidden" />
                    <input id="ProjectUserChk" name="ProjectUserChk" class="form-control" type="hidden" />
                </td>
                <td width="70">项目名称</td>
                <td>
                    <input id="ProjectName" name="ProjectName" class="form-control" readonly="readonly" />
                </td>
                <td width="70">项目简称</td>
                <td>
                    <input id="ProjectShortName" name="ProjectShortName" class="form-control" readonly="readonly" />
                </td>
                <td style="display:none">
                    <input id="GroupId" name="GroupId" class="form-control" />
                    <input id="ApplyId" name="ApplyId" class="form-control" />
                    <input id="SeqNO" name="SeqNO" class="form-control" />
                </td>
                <td>
                    <button id="btnProjectSelect" type="button" class="btn btn-primary" style="width:100px">选择项目</button>
                </td>
            </tr>
        </table>
    </form>
    <table id="result-table" class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th width="80">删除</th>
                <th width="80">详细</th>
                <th>预算确认单组名</th>
                <th>是否终版</th>
                <th>操作</th>
                @*<th>复制</th>*@
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="apply-detail">

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="supplierModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="RequirementModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="quotation-detail" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div style="position:relative">
                    <div id="detail-result" class="table-responsive"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Content/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/custom/form-serialize.js"></script>
    <script src="~/Scripts/custom/date-format.js"></script>
    <script>
        $(function () {
            //load();
            ServiceTradeBind();// 绑定服务行业
            $("#btnQuery").click(function () {
                load();
            })
            $("#btnProjectSelect").click(function () {
                ProjectSelect();
            })
            $("#btnAdd").click(function () {
                if (!CommitCheck()) {
                    alert("正在审核中或者非本人添加的项目");
                    return false;
                }
                openNewGroup();
            })
        })
        function openNewGroup(item) {
            if (isEmpty($("#ProjectCode").val())) {
                alert("请选择项目");
                return
            }

            $("#myModal").modal("show");
            $("#myModal .modal-title").html("预算确认单组添加");
            $("#myModal .modal-body").empty();
            $("#myModal .modal-body").load("/QuotationYusuanGroup/LoadPartial", { partialView: "_PartialEdit" }, function () {                
                $("#QuotationYusuanGroupForm #ProjectId").val($("#search-form #ProjectId").val());
                if (item) {
                    $("#QuotationYusuanGroupForm #Id").val(item.Id);
                    $("#QuotationYusuanGroupForm #QuotationYusuanGroupName").val(item.QuotationYusuanGroupName);
                    $("#QuotationYusuanGroupForm #LastChk").prop("checked", item.LastChk);
                }               
            });
        }

        function openNew(QuotationId, SeqNo) {
            var modelType = getQueryString("ModelType");
            if (modelType == "") {
                modelType = ModelType;
            }
            var url = '/Quotation/Create?';
            if (QuotationId && SeqNo) {
                url += 'Id=' + QuotationId + "&";
                url += 'SeqNo=' + SeqNo + "&";
            }
            url += 'ModelType=' + modelType;
            url += '&QuotationType=' + $("#QuotationType_Hidden").val();
            window.open(url);
            //window.location.href = url;
        }

        //删除
        function delQuotationYusuanGroup(GroupId) {
            confirm("确定要删除此记录吗？", function () {
                $.post("/QuotationYusuanGroup/QuotationYusuanGroupDelete", { GroupId: GroupId }, function () {
                    load();
                })
            });
        };

        function copyQuotation(ProjectId, GroupId, RequirementGroupId, QuotationYusuanGroupName, ModelType) {
            $("#myModal").modal("show");
            $("#myModal .modal-title").html("确认单复制");
            $("#myModal .modal-body").empty();
            $("#myModal .modal-body").load("/QuotationYusuanGroup/LoadPartial", { partialView: "../QuotationCopy/Index" }, function () {
                $("#search-quotation-form #GroupId").val(GroupId);
                $("#search-quotation-form #ProjectId").val(ProjectId);
                $("#search-quotation-form #RequirementGroupId").val(RequirementGroupId);
                $("#search-quotation-form #QuotationYusuanGroupNameSpan").val(QuotationYusuanGroupName);
                // $("#search-quotation-form #ModelType").val(ModelType);

                $(this).find("select").addClass("selectpicker").prop("title", "").data("live-search", true).selectpicker("refresh");
            });
        }

        function load() {
            if (isEmpty($("#ProjectCode").val())) {
                alert("请选择项目");
                return
            }

            $("#btnQuery").button("loading");
            var params = $("#search-form").serializeJson();
            $.post("/QuotationYusuanGroup/QuotationYusuanGroupSearch", params, function (data) {
                if (data && data.List) {
                    debugger
                    $("#result-table tbody").empty();
                    $("#quotations-pre-group-table tbody").empty();

                    $.each(data.List, function (index, item) {
                        var tr = $("<tr>");

                        //删除
                        var delLink = $("<a>");
                        tr.append($("<td></td>").append(delLink));
                        delLink.html("删除");
                        delLink.attr("style", "cursor: pointer;");
                        delLink.click(function () {
                            delQuotationYusuanGroup(item.Id);
                        })

                        var codeLink = $("<a>").html("详细");
                        codeLink.attr("style", "cursor: pointer;");
                        codeLink.click(function () {
                            openNewGroup(item);
                        })
                        tr.append($("<td></td>").append(codeLink));

                        tr.append($("<td></td>").html(item.QuotationYusuanGroupName));
                        tr.append($("<td></td>").html(item.LastChk ? "是" : "否"));

                        var addCityLink = $("<a>")
                        tr.append($("<td></td>").append(addCityLink));
                        addCityLink.html("预算确认单添加/详细");
                        addCityLink.attr("style", "cursor: pointer;");
                        addCityLink.click(function () {
                            OpenQuotation(item);
                        })

                        //var copyLink = $("<a>");
                        //tr.append($("<td></td>").append(copyLink))
                        //copyLink.html("预算确认单复制");
                        //copyLink.attr("style", "cursor: pointer;");
                        //copyLink.click(function () {
                        //    copyQuotation(item.ProjectId, item.GroupId, item.RequirementGroupId, item.QuotationYusuanGroupName, $("#ModelType").val());
                        //})
                        $("#result-table tbody").append(tr);
                    })
                }
            }).complete(function () { $("#btnQuery").button("reset"); });
        }
        function ProjectSelect() {
            $("#myModal .modal-title").html("选择项目");
            $("#myModal .modal-body").empty();
            $("#myModal").modal("show");
            $("#myModal .modal-body").load("/DemandBook/ProjectSelect", { ModelType: $("#ModelType").val(), ProjectCode: "", ProjectName: "", ProjectShortName: "", ServiceTrade: $("#ServiceTrade").val() }, function () {
            });
        }
        function ProjectSelectCallback(args) {
            $("#search-form #ProjectCode").val(args[0]);
            $("#search-form #ProjectName").val(args[1]);
            $("#search-form #ProjectShortName").val(args[2]);
            $("#search-form #ProjectId").val(args[3]);
            GetProjects();           
            $("#myModal").modal("hide");
            load();
        }
        function GroupDtl(ProjectId, GroupId) {
            $("#apply-detail").show();
            $("#apply-detail").load("/QuotationYusuanGroup/GroupDtl", { ProjectId: ProjectId, GroupId: GroupId }, function () {
                //$(this).append($("<input id='SupplierMngId' type='hidden'>").val(id));
            });
        }
        function apply(GroupId, ApplyId, SeqNO) {
            $.post("/Projects/RecheckProcessExistChk", { recheckType: "确认单" }, function (data) {
                if (data == 0) {
                    alert("不在审核流程中，请联系管理人员添加");
                    return false;
                }
                $("#ApplyId").val(ApplyId);
                $("#SeqNO").val(SeqNO);
                $("#GroupId").val(GroupId);

                $("#myModal").modal("show");
                $("#myModal .modal-title").html("选择审核人员");
                $("#myModal .modal-body").empty();
                $("#myModal .modal-body").load("/Quotation/RecheckUserSelect", {}, function () {
                    //  $(this).append($("<input id='ProjectId' type='hidden'>").val(id));
                });
            })

        }
        function isEmpty(value) {
            if (value == "")
                return true;
            else
                return false;
        }
        function GetCommitQuotation() {
            var lstStringId = '';
            var checkbox = $("#Quotation-table input[type=checkbox]:checked");
            $.each(checkbox, function (index, item) {
                var tds = $(item).parents("tr:first").find("td");
                lstStringId += tds.eq(1).html() + ";"
            });
            if (lstStringId.length > 0) {
                lstStringId = lstStringId.substr(0, lstStringId.length - 1);
            }
            $("#QuotationIdSelected").val(lstStringId);
        }
        function applyFinish() {
            $("#myModal").modal("hide");//关闭弹出窗口
            load()//刷新表格
        }

        function OpenQuotation(item) {            
            $("#myModal .modal-title").html("添加预算确认单");
            $("#myModal .modal-body").empty();
            $("#myModal").modal("show");
            $("#myModal .modal-body").load("/QuotationYusuanNew/Index", { ProjectId: item.ProjectId }, function () {
                SelectItem = item;
                $("#QuotationYusuanGroupId").val(item.Id);                
            });
        }

        function openDetailList(QuotationId, type, SupplierName) {
            $("#quotation-detail .modal-body #detail-result").empty();
            $("#quotation-detail").modal("show");
            $("#quotation-detail .modal-title").html("确认单详细");
            $("#QuotationType_Hidden").val(type);
            var view = "_PartialLoad" + type;
            $("#quotation-detail .modal-body #detail-result").load("/Quotation/LoadPartial", { partialView: view }
            , function () {
                loadByQuotationId(QuotationId, type, SupplierName);
            });
        }

        function loadByQuotationId(QuotationId, type, SupplierName) {
            $.post("/Quotation/LoadDetailByQuotationId", { QuotationId: QuotationId, QuotationType: type }, function (data) {
                if (data) {
                    $("#quotation-table tbody").empty();
                    $.each(data, function (index, item) {
                        item.SupplierName = SupplierName;
                        item.QuotationType = type;
                        addQuotationTr(item);
                    })
                }
            })
        }
        function GetProjects() {
            $.get("/Projects/FindOne", { id: $("#ProjectId").val() }, function (obj) {
                debugger
                $("#ProjectApplyStatusCode").val(obj.ApplyStatusCode);
                $("#ProjectUserChk").val(obj.UserChk);
            })
        }
        function CommitCheck() {
            var ApplyStatusCode = $("#ProjectApplyStatusCode").val();
            var UserChk = $("#ProjectUserChk").val();
            if (ApplyStatusCode == undefined) {
                ApplyStatusCode = "";
            }
            if (UserChk == undefined) {
                UserChk = "true";
            }
            if (UserChk == "true") {
                if (ApplyStatusCode != "") {
                    if (ApplyStatusCode == "完成") {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
                else {
                    return false;
                }
            }
            else {
                return false;
            }
        }
        function ServiceTradeBind() {
            var el = $("#ServiceTrade");
            var modelType = $("#ModelType").val();
            if (modelType.startsWith("其他")) {
                el.append($("<option>").html("Trip").val("Trip"));
                el.append($("<option>").html("Zebrac").val("Zebrac"));
                el.append($("<option>").html("Star").val("Star"));
            }
            else {
                el.append($("<option>").html("Max").val("Max"));
            }
            el.data("live-search", true).prop("title", "").selectpicker("refresh");
        }
    </script>
}