<div class="panel panel-default mt20">
    <div class="panel-heading">
        <strong style="line-height:35px;font-size:14px;">资料提交</strong>
        <button class="btn btn-primary btn pull-right clearfix" onclick="addDtl4()">添加</button>
        <button class="btn btn-primary btn pull-right" style="margin-right:5px;" onclick="delDemandBookDtl('4')">删除</button>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="dtl4-table" class="table table-bordered table-condensed table-hover text-center">
                <thead>
                    <tr>
                        <th width="50">选择</th>
                        <th width="50">
                            复制
                        </th>
                        <th width="50">
                            详细
                        </th>
                        <th width="50">
                            序号
                        </th>
                        <th width="80">
                            问卷类型
                        </th>
                        <th width="150">
                            合格用户信息比例
                        </th>
                        <th>
                            其他说明
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        </div>
</div>
<script>
    var detailView4 = 'Wangluodiaoyan/Detail/_PartialWangluodiaoyanDtl4';
    var title4="资料提交";
    function addDtl4() {
        if (!CommitCheck()) {
            alert("正在审核中或者非本人添加的项目");
            return false;
        }
        setModal(title4, detailView4);
        $("#myModal").modal("show");
    }

    function loadWangluodiaoyanDtl4() {
        $.post("/DemandBook/LoadWangluodiaoyanDtl4", { RequirementId: $("#RequirementId").val() }, function (data) {
            if (data) {
                $("#dtl4-table tbody").empty();
                $.each(data, function (index, item) {
                    var tr = $("<tr>");
                    tr.append($("<td></td>").append($("<input type='checkbox'>")));
                    var copyBtn = $("<a class='btn btn-primary btn2'>").html("复制");
                    copyBtn.click(function () {
                        item.SeqNO = 0;
                        setModal(title4, detailView4, item);
                        $("#myModal").modal("show");
                    })
                    tr.append($("<td></td>").append(copyBtn));
                    var editBtn = $("<a class='btn btn-primary btn2'>").html("详细");
                    editBtn.click(function () {
                        setModal(title4, detailView4, item);
                        $("#myModal").modal("show");
                    })
                    tr.append($("<td></td>").append(editBtn));
                    tr.append($("<td></td>").html(item.SeqNO));
                    tr.append($("<td></td>").html(item.wenjuanleixing));
                    tr.append($("<td></td>").html(item.hegeyonghuxinxibili));
                    //tr.append($("<td></td>").html(item.qitashuoming4));
                    var qitashuoming4 = item.qitashuoming4 != null ? item.qitashuoming4.replace(/\n/g, '<br>') : "&nbsp;";
                    tr.append($("<td style='text-align: left;'></td>").html(qitashuoming4));//其他说明


                    $("#dtl4-table tbody").append(tr);
                })
            }
        })
    }
</script>