<table id="quotation-table" class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            @*<th class="piao">
                详细
            </th>
            <th><div class="pzhan">&nbsp;</div></th>*@
            <th width="150">
                供应商名称
            </th>
            <th>
                服务行业
            </th>
            <th>
                执行省份
            </th>
            <th>
                执行城市
            </th>
            <th>
                进店方式
            </th>
            <th>
                执行分类
            </th>
            <th>
                用户分类
            </th>
            <th>
                现有或潜在
            </th>
            <th>
                客户分类
            </th>
            
            <th>
                核算单位
            </th>
            <th>
                参考价格
            </th>
            <th>
                单价
            </th>
            <th>
                数量
            </th>
            <th>
                小计
            </th>
            <th>
                备注
            </th>
            <th>
                登记人
            </th>
            <th width="100">
                登记日期
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    $(function () {
    })

    function addQuotationTr_Zhixing(item) {
        var tr = $("<tr>");
        //var detailLink = $("<a>").html("详细");
        //detailLink.attr("style", "cursor:pointer");
        //detailLink.click(function () {
        //    openNew(item.QuotationId, item.SeqNO);
        //})
        //tr.append($("<td class='piao'></td>").append(detailLink));
        //tr.append($('<td><div class="pzhan">&nbsp;</div></td>'));
        tr.append($("<td></td>").html(item.SupplierName));
        tr.append($("<td></td>").html(item.ServiceTrade));
        tr.append($("<td></td>").html(item.Province));
        tr.append($("<td></td>").html(item.City));
        tr.append($("<td></td>").html(item.IntoShopType));
        tr.append($("<td></td>").html(item.ExcuteType));
        //tr.append($("<td></td>").html(item.ExecuteMode));
        tr.append($("<td></td>").html(item.UserType));
        tr.append($("<td></td>").html(item.ExistingOrPotential));
        tr.append($("<td></td>").html(item.CustomerType));
        tr.append($("<td></td>").html(item.AccountUnit));
        tr.append($("<td></td>").html(item.ProposedPrice));
        tr.append($("<td></td>").html(item.UnitPrice));
        tr.append($("<td></td>").html(item.Count));
        try {
            var xiaoji = parseFloat(item.UnitPrice) * parseFloat(item.Count);
            tr.append($("<td></td>").html(xiaoji.toFixed(2)));
        } catch (e) {
        }
        tr.append($("<td style='text-align:left'></td>").html(item.Remark));
        tr.append($("<td></td>").html(item.InUserId));
        tr.append($("<td></td>").html(item.InDateTime));

        return tr;
    }
</script>