<table id="quotation-table" class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            @*<th class="piao">
                详细
            </th>
            <th><div class="pzhan">&nbsp;</div></th>*@
            <th width="200">
                供应商名称
            </th>          
            <th>
                服务行业
            </th> 
            <th width="100">
                采购分类
            </th>
            <th width="100">
                采购方式
            </th>
            <th width="100">
                提供服务
            </th>
            <th width="100">
                品名
            </th>
            <th width="80">
                规格
            </th>
            <th width="80">
                型号
            </th>
            <th>
                参考价格
            </th>
            <th>
                单价
            </th>
            <th>
                数量
            </th>
            <th>
                小计
            </th>
            <th width="100">
                备注
            </th>
            <th>
                登记人
            </th>
            <th width="100">
                登记日期
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    $(function () {
    })
    
    function addQuotationTr_Qita1(item) {
        var tr = $("<tr>");
        //var detailLink = $("<a>").html("详细");
        //detailLink.attr("style", "cursor:pointer");
        //detailLink.click(function () {
        //    openNew(item.QuotationId, item.SeqNO);
        //})
        //tr.append($("<td class='piao'></td>").append(detailLink));
        //tr.append($('<td><div class="pzhan">&nbsp;</div></td>'));
        tr.append($("<td></td>").html(item.SupplierName));
        tr.append($("<td></td>").html(item.ServiceTrade));
        tr.append($("<td></td>").html(item.caigoufenlei));
        tr.append($("<td></td>").html(item.caigoufangshi));
        tr.append($("<td></td>").html(item.tigongfuwu));
        tr.append($("<td></td>").html(item.pinming));
        tr.append($("<td></td>").html(item.guige));
        tr.append($("<td></td>").html(item.xinghao));
        tr.append($("<td></td>").html(item.cankaojiage));
        tr.append($("<td></td>").html(item.danjia));
        tr.append($("<td></td>").html(item.shuliang));
        try {
            var xiaoji = parseFloat(item.danjia) * parseFloat(item.shuliang);
            tr.append($("<td></td>").html(xiaoji.toFixed(2)));
        } catch (e) {
        }
        tr.append($("<td style='text-align:left'></td>").html(item.beizhu));
        tr.append($("<td></td>").html(item.InUserId));
        tr.append($("<td></td>").html(item.InDateTime));

        return tr;
    }
</script>