body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:50px;
  width:540px;
  height:128px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:128px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:177px;
  width:380px;
  height:181px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:181px;
}
#u3 {
  position:absolute;
  left:2px;
  top:82px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:740px;
  top:21px;
  width:100px;
  height:39px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:720px;
  top:90px;
  width:370px;
  height:150px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:150px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
