<div class="panel panel-default mt20">
    <div class="panel-heading">
        <strong style="line-height:35px;font-size:14px;">行政支持</strong>
        <button class="btn btn-primary btn pull-right clearfix" onclick="addDtl3()">添加</button>
        <button class="btn btn-primary btn pull-right" style="margin-right:5px;" onclick="delDemandBookDtl('3')">删除</button>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="dtl3-table" class="table table-bordered table-condensed table-hover text-center">
                <thead>
                    <tr>
                        <th width="50">选择</th>
                        <th width="50">
                            复制
                        </th>
                        <th width="50">
                            详细
                        </th>
                        <th width="50">
                            序号
                        </th>
                        <th>
                            渠道设备
                        </th>
                        <th>
                            行政分摊
                        </th>
                        <th>
                            其他说明
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        </div>
</div>

<script>
    var detailView3 = 'Guankong/Detail/_PartialGuankongDtl3';
    var title3 = "行政支持";
    function addDtl3() {
        if (!CommitCheck()) {
            alert("正在审核中或者非本人添加的项目");
            return false;
        }
        setModal(title3, detailView3);
        $("#myModal").modal("show");
    }

    function loadGuankongDtl3() {
        $.post("/DemandBook/LoadGuankongDtl3", { RequirementId: $("#RequirementId").val() }, function (data) {
            if (data) {
                $("#dtl3-table tbody").empty();
                $.each(data, function (index, item) {
                    var tr = $("<tr>");
                    tr.append($("<td></td>").append($("<input type='checkbox'>")));
                    var copyBtn = $("<a class='btn btn-primary btn2'>").html("复制");
                    copyBtn.click(function () {
                        item.SeqNO = 0;
                        setModal(title3, detailView3, item);
                        $("#myModal").modal("show");
                    })
                    tr.append($("<td></td>").append(copyBtn));
                    var editBtn = $("<a class='btn btn-primary btn2'>").html("详细");
                    editBtn.click(function () {
                        setModal(title3, detailView3, item);
                        $("#myModal").modal("show");
                    })                   
                    tr.append($("<td></td>").append(editBtn));
                    tr.append($("<td></td>").html(item.SeqNO));
                    tr.append($("<td></td>").html(item.qudaoshebei));//渠道设备
                    tr.append($("<td></td>").html(item.xingzhengfentan));//行政分摊
                    //tr.append($("<td></td>").html(item.qitashuoming3));//其他说明
                    var qitashuoming3 = item.qitashuoming3 != null ? item.qitashuoming3.replace(/\n/g, '<br>') : "&nbsp;";
                    tr.append($("<td style='text-align: left;'></td>").html(qitashuoming3));//其他说明


                    $("#dtl3-table tbody").append(tr);
                })
            }
        })
    }
</script>