<div class="panel panel-default mt20">
    <div class="panel-heading">
        <strong style="line-height:35px;font-size:14px;">定量_资料提交</strong>
        <button class="btn btn-primary btn pull-right clearfix" onclick="addDtl31()">添加</button>
        <button class="btn btn-primary btn pull-right" style="margin-right:5px;" onclick="delDemandBookDtl('31')">删除</button>

    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="dtl31-table" class="table table-bordered table-condensed table-hover text-center">
                <thead>
                    <tr>
                        <th width="50">选择</th>
                        <th width="50">
                            复制
                        </th>
                        <th width="50">
                            详细
                        </th>
                        <th>
                            序号
                        </th>
                        <th>
                            录音类型
                        </th>
                        <th>
                            合格录音比例
                        </th>
                        <th>
                            问卷类型
                        </th>
                        <th>
                            证照类型
                        </th>
                        <th>
                            合格证照比例
                        </th>
                        <th>
                            其他说明
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var detailView31 = 'Cheliangzhanpinghui/Detail/_PartialCheliangzhanpinghuiDtl31';
    var title31 = "定量_资料提交";
    function addDtl31() {
        if (!CommitCheck()) {
            alert("正在审核中或者非本人添加的项目");
            return false;
        }
        setModal(title31, detailView31, undefined, true);
        $("#myModal").modal("show");
    }

    function loadCheliangzhanpinghuiDtl31() {
        $.post("/DemandBook/LoadCheliangzhanpinghuiDtl31", { RequirementId: $("#RequirementId").val() }, function (data) {
            if (data) {
                $("#dtl31-table tbody").empty();
                $.each(data, function (index, item) {
                    var tr = $("<tr>");

                    tr.append($("<td></td>").append($("<input type='checkbox'>")));
                    var copyBtn = $("<a class='btn btn-primary btn2'>").html("复制");
                    copyBtn.click(function () {
                        item.SeqNO = 0;
                        setModal(title31, detailView31, item, true);
                        $("#myModal").modal("show");
                    })
                    tr.append($("<td></td>").append(copyBtn));
                    var editBtn = $("<a class='btn btn-primary btn2'>").html("详细");
                    editBtn.click(function () {
                        debugger
                        setModal(title31, detailView31, item);
                        $("#myModal").modal("show");
                    })
                    tr.append($("<td></td>").append(editBtn));
                    tr.append($("<td></td>").html(item.SeqNO));
                    tr.append($("<td></td>").html(item.luyinleixing));//性别
                    tr.append($("<td></td>").html(item.luyinhegebili));//性别比例
                    tr.append($("<td></td>").html(item.wenjuanleixing));//学历
                    tr.append($("<td></td>").html(item.zhengzhaoleixing));//年龄
                    tr.append($("<td></td>").html(item.hegezhengzhaobili));//年龄比例
                    //tr.append($("<td></td>").html(item.qitashuoming41));//
                    var qitashuoming41 = item.qitashuoming41 != null ? item.qitashuoming41.replace(/\n/g, '<br>') : "&nbsp;";
                    tr.append($("<td style='text-align: left;'></td>").html(qitashuoming41));//其他说明

                    $("#dtl31-table tbody").append(tr);
                })
            }
        })
    }
</script>