<div class="panel panel-default mt20">
    <div class="panel-heading">
        <strong style="line-height:35px;font-size:14px;">深访及日志留置_样本定义</strong>
        <button class="btn btn-primary btn pull-right clearfix" onclick="addDtl9()">添加</button>
        <button class="btn btn-primary btn pull-right" style="margin-right:5px;" onclick="delDemandBookDtl('9')">删除</button>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="dtl9-table" class="table table-bordered table-condensed table-hover text-center" style="width: 2000px !important">
                <thead>
                    <tr>
                        <th width="50">选择</th>
                        <th width="50">
                            复制
                        </th>
                        <th width="50">
                            详细
                        </th>
                        <th>
                            序号
                        </th>
                        <th>
                            性别
                        </th>
                        <th>
                            性别比例
                        </th>
                        <th>
                            学历
                        </th>
                        <th>
                            年龄
                        </th>
                        <th>
                            年龄比例
                        </th>
                        <th>
                            家庭年收入
                        </th>
                        <th>
                            家庭月收入
                        </th>
                       
                        <th>
                            其他说明
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var detailView9 = 'Cheliangzhanpinghui/Detail/_PartialCheliangzhanpinghuiDtl9';
    var title9 = "深访及日志留置_样本定义";
    function addDtl9() {
        if (!CommitCheck()) {
            alert("正在审核中或者非本人添加的项目");
            return false;
        }
        setModal(title9, detailView9, undefined, true);
        $("#myModal").modal("show");
    }

    function loadCheliangzhanpinghuiDtl9() {
        $.post("/DemandBook/LoadCheliangzhanpinghuiDtl9", { RequirementId: $("#RequirementId").val() }, function (data) {
            if (data) {
                $("#dtl9-table tbody").empty();
                $.each(data, function (index, item) {
                    var tr = $("<tr>");

                    tr.append($("<td></td>").append($("<input type='checkbox'>")));
                    var copyBtn = $("<a class='btn btn-primary btn2'>").html("复制");
                    copyBtn.click(function () {
                        item.SeqNO = 0;
                        setModal(title9, detailView9, item, true);
                        $("#myModal").modal("show");
                    })
                    tr.append($("<td></td>").append(copyBtn));
                    var editBtn = $("<a class='btn btn-primary btn2'>").html("详细");
                    editBtn.click(function () {
                        setModal(title9, detailView9, item);
                        $("#myModal").modal("show");
                    })
                    tr.append($("<td></td>").append(editBtn));
                    tr.append($("<td></td>").html(item.SeqNO));
                    tr.append($("<td></td>").html(item.xingbie));//性别
                    tr.append($("<td></td>").html(item.xingbiebili));//性别比例
                    tr.append($("<td></td>").html(item.xueli));//学历
                    tr.append($("<td></td>").html(item.nianling));//年龄
                    tr.append($("<td></td>").html(item.nianlingbili));//年龄比例
                    tr.append($("<td></td>").html(item.jiatingnianshouru));//家庭年收入
                    tr.append($("<td></td>").html(item.jiatingyueshouru));//家庭月收入
                    //tr.append($("<td></td>").html(item.qitashuoming9));
                    var qitashuoming9 = item.qitashuoming9 != null ? item.qitashuoming9.replace(/\n/g, '<br>') : "&nbsp;";
                    tr.append($("<td style='text-align: left;'></td>").html(qitashuoming9));//其他说明

                    $("#dtl9-table tbody").append(tr);
                })
            }
        })
    }
</script>