@using Purchase.Web.Common;

@model Purchase.DAL.HiddenCode
<form id="HiddenCodeForm">
    @Html.HiddenFor(m => m.Type)
    <table style="width:90%">
        <tr>
            <td>字典名称</td>
            <td>
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>是否使用</td>
            <td style="text-align:left">
                @Html.CheckBox("UseChkCheckbox", Model.UseChk.HasValue ? Model.UseChk.Value : false, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td >
                <button id="saveBtn" type="button" class="btn btn-primary">保 存</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $(function () {
        $("#UseChkCheckbox").prop("checked", true);
        $("#saveBtn").click(function () {
            var params = $("#HiddenCodeForm").serializeJson();
            params.UseChk= $("#UseChkCheckbox").is(":checked");
            $.post("/HiddenCode/Save", params, function (data) {
                saveCallback();
            });
        })
    })
</script>