

<table id="huizongbiao-table-Chezhan" class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>
                供应商名称
            </th>
            <th>
                项目名称
            </th>
            <th>
                项目简称
            </th>
            <th>
                项目经理
            </th>
            <th>
                执行省份
            </th>
            <th>
                执行城市
            </th>
            <th>
                执行周期
            </th>
            <th>
                项目类型
            </th>
            <th>
                执行方式
            </th>
            <th>执行分类 </th>
            <th>客户分类 </th>
            <th>
                用户分类
            </th>
            <th>
                品牌分类
            </th>
            <th>
                工作职责
            </th>
            <th>
                车辆类别
            </th>
            <th>
                车价范围
            </th>
            <th>
                现有或潜在
            </th>
            <th>
                执行地点
            </th>
            <th>
                名单来源
            </th>
            <th>
                参会人数
            </th>
            @*<th>
                跟访需求
            </th>
            <th>
                陪访要求
            </th>*@
            <th>单独邀约</th>
            <th>
                购车（预购）时间段
            </th>
            <th>
                具体购车时间
            </th>
            <th>
                售后维修/保养时间
            </th>
            <th>
                经营时间要求
            </th>
            <th>
                工作时间要求
            </th>
            @*<th>
                配额分布
            </th>*@
            @*<th>
                配额说明
            </th>*@
            <th>
                报酬方式
            </th>
            <th>
                核算单位
            </th>
            <th>
                单价
            </th>
            <th>
                数量
            </th>
            <th>
                合计
            </th>
            <th width="200">
                备注
            </th>
            @*<th>
                供应商评分类别
            </th>
            <th>供应商评分</th>*@
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    function addHuizongbiaoTr_Chezhan(item) {
        var tr = $("<tr>");
        addHiddenField(tr, item);

        tr.append($("<td></td>").html(item.SupplierName));
        tr.append($("<td></td>").html(item.ProjectName));
        tr.append($("<td></td>").html(item.ProjectShortName));
        tr.append($("<td></td>").html(item.xiangmujingli));//项目经理？
        tr.append($("<td></td>").html(item.zhixingshengfen));
        tr.append($("<td></td>").html(item.zhixingchengshi));
        tr.append($("<td></td>").html(item.ExecuteCycle));
        tr.append($("<td></td>").html(item.ProjectType));
        tr.append($("<td></td>").html(item.ExcuteMode));
        tr.append($("<td></td>").html(item.zhixingfenlei));
        tr.append($("<td></td>").html(item.kehufenlei));
        tr.append($("<td></td>").html(item.yonghufenlei));
        tr.append($("<td></td>").html(item.pinpaifenlei));
        tr.append($("<td></td>").html(item.gongzuozhize));
        tr.append($("<td></td>").html(item.cheliangleibie));
        tr.append($("<td></td>").html(item.chejiafanwei));
        tr.append($("<td></td>").html(item.xianyouhuoqianzai));
        tr.append($("<td></td>").html(item.zhixingdidian));
        tr.append($("<td></td>").html(item.mingdanlaiyuan));
        tr.append($("<td></td>").html(item.canhuirenshu));
        //tr.append($("<td></td>").html(item.genfangxuqiu));
        //tr.append($("<td></td>").html(item.peifangxuqiu));
        tr.append($("<td></td>").html(item.danduyaoyue));
        tr.append($("<td></td>").html(item.goucheyugoushijianduan));
        tr.append($("<td></td>").html(item.jutigoucheshijian));
        tr.append($("<td></td>").html(item.shouhouweixiubaoyangshijian));
        tr.append($("<td></td>").html(item.jingyingshijianyaoqiu));
        tr.append($("<td></td>").html(item.gongzuoshijianyaoqiu));
        //tr.append($("<td></td>").html(item.peiefenbu));
        //tr.append($("<td></td>").html(item.peieshuoming));
        tr.append($("<td></td>").html(item.baochoufangshi));

        tr.append($("<td></td>").html(item.hesuandanwei));
        tr.append($("<td></td>").html(item.danjia));
        tr.append($("<td></td>").html(item.shuliang));
        tr.append($("<td></td>").html(item.heji));

        var remark = $("<input name='Remark' class='form-control' style='width:150px'>").val(item.Remark);
        tr.append($("<td></td>").append(remark));

        //tr.append($("<td></td>").html(""));
        //tr.append($("<td></td>").html(""));

        $("#huizongbiao-table-Chezhan tbody").append(tr);
    }
</script>