@{
    ViewBag.Title = "汇总表查询-业务";
    Layout = "../FlowOrder/_FlowOrderLayout.cshtml";
}
<style>
    .count .panel-heading {
        background: #f5f5f5;
    }
</style>
<div class="count inline-block">
    <form id="search-form" class="form">
        <table>
            <tr>
                <td colspan="12" style="text-align:right">
                    <a id="btnQuery" class="btn btn-primary" style="width:100px">查 询</a>
                    <a id="btnSave" class="btn btn-primary" style="width:100px" onclick="">保存</a>
                    <a id="btnExport" onclick="exportExcel()" class="btn btn-primary" style="width:100px" data-loading-text="正在导出...">导出Excel</a>
                </td>
            </tr>
            <tr>
                <td width="70">模块类型</td>
                <td width="200">
                    <select id="ModelType" name="ModelType" class="form-control">
                        <option value="业务">业务</option>
                    </select>
                </td>
                @*<td width="80">确认单类型</td>
                    <td width="150">
                        <select id="QuotationType" name="QuotationType" class="form-control">
                            <option value="Biancheng">编程</option>
                            <option value="Zhixing">执行</option>
                            <option value="Fuhe">复核</option>
                            <option value="Yanjiu">研究</option>
                            <option value="Qita1">其他1</option>
                            <option value="Qita2">其他2</option>
                            <option value="Chezhan">车展</option>
                            <option value="Zhichi">支持</option>
                        </select>
                    </td>*@
                <td width="60">项目名称</td>
                <td width="280">
                    <input id="ProjectId" name="ProjectId" class="form-control" type="hidden" />
                    <input id="ProjectName" name="ProjectName" class="form-control" />
                    <input id="ProjectCode" name="ProjectCode" class="form-control" type="hidden">
                </td>
                <td width="60">项目简称</td>
                <td width="200">
                    <input id="ProjectShortName" name="ProjectShortName" class="form-control" />
                </td>
                <td>
                    <a id="btnProjectSelect" class="btn btn-primary" style="width:100px">选择项目</a>
                </td>
            </tr>
            <tr>
                <td>服务行业</td>
                <td>
                    <select id="ServiceTrade" name="ServiceTrade" class="form-control">
                        <option value="Max">Max</option>
                    </select>
                </td>
                <td width="60">供应商</td>
                <td width="500" colspan="3">
                    <input id="SupplierId" name="SupplierId" class="form-control" type="hidden" />
                    <input id="SupplierName" name="SupplierName" class="form-control">
                    <input id="SupplierCode" name="SupplierCode" class="form-control" type="hidden">
                    <input id="SupplierShortName" name="SupplierShortName" class="form-control" type="hidden">
                </td>
                <td width="100">
                    <a id="btnSupplierSelect" class="btn btn-primary" style="width:100px">选择供应商</a>
                </td>
            </tr>
        </table>
    </form>
    <div style="position:relative">
        @{
            Dictionary<string, string> QuotationTypeAndText = (Dictionary<string, string>)ViewBag.QuotationTypeAndText;
            foreach (string quotationType in QuotationTypeAndText.Keys)
            {
                <div class="panel panel-default collapse-panel" style="margin-bottom:0px;display:none">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-table-@quotationType">
                                @QuotationTypeAndText[quotationType]
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-table-@quotationType" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div id="search-result" class="table-responsive fix-table-div" style="max-height:400px;width:100%;">
                                @Html.Partial("_PartialHuizongbiao" + quotationType)
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/custom/form-serialize.js"></script>
    <script>
        var ModelType, QuotationType;
        var quotationTypeAndText = {
            "Biancheng": "编程", "Zhixing": "执行", "Fuhe": "复核", "Yanjiu": "研究",
            "Zhichi": "支持", "Chezhan": "车展", "Qita1": "其他1", "Qita2": "其他2"
        }
        $(function () {
            //BindQuotation();
            //获取QuotationType
            //QuotationType = '@ViewBag.QuotationType';
            //if (QuotationType != "") {
            //    $("#QuotationType").val(QuotationType);
            //}

            $("#btnQuery").click(function () {
                $("#btnQuery").button("loading");

                var i = 0;
                for (pro in quotationTypeAndText) {
                    i++;
                    var subResult = $("#search-result", $("#collapse-table-" + pro));
                    subResult.clearFixLayout();
                    if (i == 8) {
                        load(subResult, pro, 1, true);
                    } else {
                        load(subResult, pro, 1);
                    }
                }
            })
            $("#btnSave").click(function () {
                save();
            })

            //$("#QuotationType").change(function () {
            //    var type = $(this).val();
            //    if (type == "Youxingshangpincaigou") {
            //        type = "Qita1";
            //    }
            //    if (type == "Wuxingshangpincaigou") {
            //        type = "Qita2";
            //    }
            //    var view = "_PartialHuizongbiao" + type;

            //    $("#search-result").empty();
            //    $("#search-result").load("/Huizongbiao/LoadPartial", { partialView: view }, function () {
            //        $(this).clearFixLayout();
            //    });
            //}).trigger("change");

            $("#btnProjectSelect").click(function () {
                ProjectSelect();
            })
            $("#btnSupplierSelect").click(function () {
                SupplierSelect(1);
            })
            $("#btnQuotationGroupSelect").click(function () {
                QuotationGroupSelect();
            })
        })

        function ProjectSelect() {
            $(".modal .modal-body").empty();
            $("#myModal").modal("show");
            $("#myModal .modal-title").html("选择项目");
            $("#myModal .modal-body").load("/DemandBook/ProjectSelect", { ModelType: $("#ModelType").val(), ProjectCode: "", ProjectName: "", ProjectShortName: "" }, function () {
                //$(this).append($("<input id='SupplierMngId' type='hidden'>").val(id));
            });
        }
        function SupplierSelect(type) {
            $(".modal .modal-body").empty();
            $("#myModal").modal("show");
            $("#myModal .modal-title").html("选择供应商");
            $("#myModal .modal-body").load("/Constract/SupplierMngSelect",
                { SupplierCode: "", SupplierName: "", SupplierShortName: "", province: '', city: '' }, function () {
                    $("#myModal .modal-body #Type").val(type)
                });
        }
        function ProjectSelectCallback(args) {
            $("#ProjectCode").val(args[0]);
            $("#ProjectName").val(args[1]);
            $("#ProjectShortName").val(args[2]);
            $("#ProjectId").val(args[3]);
            $("#myModal").modal("hide");
        }
        function SupplierSelectCallback1(args) {
            $("#SupplierCode").val(args.SupplierCode);
            $("#SupplierName").val(args.SupplierName);
            $("#SupplierShortName").val(args.SupplierShortName);
            $("#SupplierId").val(args.SupplierId);
            $("#myModal").modal("hide");
        }

        function exportExcel() {
            $("#btnExport").button("loading");
            alert("正在导出...");

            var params = $("#search-form").serializeJson();
            $.post("/Huizongbiao/ExportHuizongbiao", params, function (data) {
                window.location.href = "/Huizongbiao/DownloadFile?fileName=" + data.ExportPath;
            }).complete(function () {
                $("#btnExport").button("reset");
                closealert();
            });
        }

        function load(subresult, type, pageNum, end) {

            var params = $("#search-form").serializeJson();
            params = $.extend(params, { QuotationType: type, pageSize: 10000, pageNum: pageNum ? pageNum : 1 });
            $.post("/Huizongbiao/Load" + type, params, function (data) {
                if (data && data.List) {
                    $("#huizongbiao-table-" + type + " tbody").empty();
                    $.each(data.List, function (index, item) {
                        var func = eval("addHuizongbiaoTr_" + type);
                        new func(item);
                    })
                    if (data.List.length > 0) {
                        subresult.parents(".collapse-panel").show();
                        $(subresult).fixHeadColumn({ fixColumnIndex: 3 });
                    }
                    //createPageNav({ $container: $("#pagination"), pageCount: data.PageCount, currentNum: data.CurPage, afterFun: load });
                }
            }).complete(function () {
                if (end) {
                    $("#btnQuery").button("reset");
                    //subresult.parents(".collapse").collapse('hide');
                }
            });
        }
        function addHiddenField(tr, item) {
            var td = $("<td style='display:none'></td>");
            var args = {
                HuizongbiaoId: item.HuizongbiaoId,
                ProjectId: item.ProjectId,
                SupplierId: item.SupplierId,
                SettlementId: item.SettlementId,
                SettlementSeqNO: item.SettlementSeqNO
            }
            for (pro in args) {
                td.append($("<input type='hidden'>").val(args[pro]).attr("name", pro));
            }
            tr.append(td);
        }
        function save() {
            var params = [];
            for (pro in quotationTypeAndText) {
                $("#fix-layout #huizongbiao-table-" + pro + " tbody tr").each(function () {
                    var inputs = $(this).find("td input");
                    var form = $("<form>").append(inputs.clone());
                    params.push(form.serializeJson());
                })
            }
            
            $("#btnSave").button("loading");
            $.post("/Huizongbiao/Save", { jsonArr: JSON.stringify(params) }, function (data) {
                alert("保存成功！");
                $("#btnQuery").click();
            }).complete(function () { $("#btnSave").button("reset"); });
        }

        function BindQuotation() {
            var bussiness = ["编程", "执行", "复核", "研究", "其他1", "其他2", "车展", "支持"];
            var bussinessEn = ["Biancheng", "Zhixing", "Fuhe", "Yanjiu", "Qita1", "Qita2", "Chezhan", "Zhichi"];
            var inter = ["有形商品采购", "无形商品采购"]
            var interrEn = ["Qita1", "Qita2"]
            var el = $("#QuotationType");
            var combo = $("<select id='QuotationType' name='QuotationType' class = 'form-control'> ");
            var input = $("<input id='QuotationType' name='QuotationType' class = 'form-control'> ");

            if ($("#ModelType").val() == "业务") {
                el = changeSelectInput(el, combo, input, true);
                for (i in bussiness) {
                    el.append($("<option>").html(bussiness[i]).val(bussinessEn[i]));
                }
            } else {
                el = changeSelectInput(el, combo, input, true);
                for (i in inter) {
                    el.append($("<option>").html(inter[i]).val(interrEn[i]));
                }
            }
            $("#QuotationType").data("live-search", true).prop("title", "").selectpicker("refresh");
        }
        function changeSelectInput(el, combo, input, isDropdown) {
            var newEl;
            if (isDropdown) {
                newEl = combo;
            } else {
                newEl = input;
            }
            var parent = el.parent();
            parent.empty();
            parent.append(newEl);

            return newEl;
        }
    </script>
}