@{
    ViewBag.Title = "汇总表查询-追加";
    Layout = "../FlowOrder/_FlowOrderLayout.cshtml";
}
<div class="count inline-block">
    <form id="search-form" class="form">
        <table>
            <tr>
                <td colspan="13" style="text-align:right">
                    <a id="btnQuery" class="btn btn-primary" style="width:100px">查 询</a>
                    <a id="btnExport" onclick="exportExcel()" class="btn btn-primary" style="width:100px" data-loading-text="正在导出...">导出Excel</a>

                </td>
            </tr>
            <tr>
                <td width="70">模块类型</td>
                <td width="100">
                    <select id="ModelType" name="ModelType" class="form-control">
                        <option value="业务">业务</option>
                        <option value="内部采购">内部采购</option>
                        <option value="其他">其他</option>
                    </select>
                </td>
                <td width="60">项目名称</td>
                <td width="240">
                    <input id="ProjectId" name="ProjectId" class="form-control" type="hidden" />
                    <input id="ProjectName" name="ProjectName" class="form-control" />
                    <input id="ProjectCode" name="ProjectCode" class="form-control" type="hidden">
                </td>
                <td width="60">项目简称</td>
                <td width="200">
                    <input id="ProjectShortName" name="ProjectShortName" class="form-control" />
                </td>
                <td>
                    <a id="btnProjectSelect" class="btn btn-primary" style="width:100px">选择项目</a>
                </td>
                <td></td>
                <td width="60">供应商</td>
                <td width="500" colspan="3">
                    <input id="SupplierId" name="SupplierId" class="form-control" type="hidden" />
                    <input id="SupplierName" name="SupplierName" class="form-control">
                    <input id="SupplierCode" name="SupplierCode" class="form-control" type="hidden">
                    <input id="SupplierShortName" name="SupplierShortName" class="form-control" type="hidden">
                </td>
                <td width="100">
                    <a id="btnSupplierSelect" class="btn btn-primary" style="width:100px">选择供应商</a>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
    <div style="position:relative">
        <div id="search-result" class="table-responsive">
            <table id="huizongbiao-table" class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th>
                            年份
                        </th>
                        <th>
                            项目名称
                        </th>
                        <th>
                            项目简称
                        </th>
                        <th>
                            项目编号
                        </th>
                        <th>
                            供应商名称
                        </th>
                        <th>
                            执行省份
                        </th>
                        <th>
                            执行城市
                        </th>
                        <th>
                            费用内容
                        </th>
                        <th>
                            单价
                        </th>
                        <th>
                            数量
                        </th>
                        <th>
                            合计
                        </th>
                        <th>
                            备注
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
       
        <div id="pagination" class="pull-right">
            <ul id="pageUl"></ul>
        </div>
    </div>    
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/custom/form-serialize.js"></script>
    <script>
        var ModelType, QuotationType;
        $(function () {

            $("#btnQuery").click(function () {
                load();
            })
            

            $("#btnProjectSelect").click(function () {
                ProjectSelect();
            })
            $("#btnSupplierSelect").click(function () {
                SupplierSelect(1);
            })
        })
        
        function ProjectSelect() {
            $(".modal .modal-body").empty();
            $("#myModal").modal("show");
            $("#myModal .modal-title").html("选择项目");
            $("#myModal .modal-body").load("/DemandBook/ProjectSelect", { ModelType: $("#ModelType").val(), ProjectCode: "", ProjectName: "", ProjectShortName: "" }, function () {
                //$(this).append($("<input id='SupplierMngId' type='hidden'>").val(id));
            });
        }
        function SupplierSelect(type) {
            $(".modal .modal-body").empty();
            $("#myModal").modal("show");
            $("#myModal .modal-title").html("选择供应商");
            $("#myModal .modal-body").load("/Constract/SupplierMngSelect",
                { SupplierCode: "", SupplierName: "", SupplierShortName: "", province: '', city: '' }, function () {
                    $("#myModal .modal-body #Type").val(type)
                });
        }
        function ProjectSelectCallback(args) {
            $("#ProjectCode").val(args[0]);
            $("#ProjectName").val(args[1]);
            $("#ProjectShortName").val(args[2]);
            $("#ProjectId").val(args[3]);
            $("#myModal").modal("hide");
        }
        function SupplierSelectCallback1(args) {
            $("#SupplierCode").val(args.SupplierCode);
            $("#SupplierName").val(args.SupplierName);
            $("#SupplierShortName").val(args.SupplierShortName);
            $("#SupplierId").val(args.SupplierId);
            $("#myModal").modal("hide");
        }

        function exportExcel() {
            $("#btnExport").button("loading");
            alert("正在导出...");

            var type = $("#QuotationType").val();
            var params = $("#search-form").serializeJson();
            params = $.extend(params, { QuotationType: type });
            $.post("/Huizongbiao/ExportZhuijia", params, function (data) {
                window.location.href = "/Huizongbiao/DownloadFile?fileName=" + data.ExportPath;
            }).complete(function () {
                $("#btnExport").button("reset");
                closealert();
            });
        }

        function load(pageNum) {
            $("#btnQuery").button("loading");
            $("#search-result").clearFixLayout();

            var params = $("#search-form").serializeJson();
            params = $.extend(params, { pageSize: 10, pageNum: pageNum ? pageNum : 1 });
            $.post("/Huizongbiao/LoadZhuijia", params, function (data) {
                if (data && data.List) {
                    $("#huizongbiao-table tbody").empty();
                    $.each(data.List, function (index, item) {
                        addHuizongbiaoTr(item);
                    })
                    if (data.List.length > 0) {
                        $("#search-result").fixHeadColumn({ fixColumnIndex: 4 });
                    }
                    createPageNav({ $container: $("#pagination"), pageCount: data.PageCount, currentNum: data.CurPage, afterFun: load });
                }
            }).complete(function () { $("#btnQuery").button("reset"); });
        }
       
        function addHuizongbiaoTr(item) {
            var tr = $("<tr>");

            tr.append($("<td></td>").html(item.Year));
            tr.append($("<td></td>").html(item.ProjectName));
            tr.append($("<td></td>").html(item.ProjectShortName));
            tr.append($("<td></td>").html(item.ProjectCode));
            tr.append($("<td></td>").html(item.SupplierName));
            tr.append($("<td></td>").html(item.zhixingshengfen));
            tr.append($("<td></td>").html(item.zhixingchengshi));
            tr.append($("<td></td>").html(item.FeeContent));
            tr.append($("<td></td>").html(item.danjia));
            tr.append($("<td></td>").html(item.shuliang));
            tr.append($("<td></td>").html(item.heji));
            tr.append($("<td></td>").html(item.Remark));

            $("#huizongbiao-table tbody").append(tr);
        }
    </script>
}