@using Purchase.Web.Common
@model Purchase.DAL.Requirement_Bianmajifuhe_RequirementDtl7

<form id="Bianmajifuhe-dtl7-form">
    @Html.Hidden("SeqNO", 0)
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3" for="">样本编辑要求</label>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.yangbenbianjieyaoqiu, SelectListTool.HiddenCodeList("需求书-编码及复核-样本编辑-样本编辑要求"),
                htmlAttributes: new { @class = "form-control", multiple = "" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="DrivingLicense">样本编辑样本量或比例</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.yangbenbianjieyangbenlianghuobili, htmlAttributes: new { @class = "form-control", multiple = "" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="RemarkDtl7">其他说明</label>
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.qitashuoming7, htmlAttributes: new { @class = "form-control", multiple="" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input id="saveBtn" type="button" value="保存" class="btn btn-primary btn-check" data-loading-text="提交中..." style="width:100px;height:35px" />
            </div>
        </div>
    </div>
</form>
<script>
    $(function () {
        
        $("#Bianmajifuhe-dtl7-form #saveBtn").click(function () {
            if (!CommitCheck()) {
                alert("正在审核中或者非本人添加的项目");
                return false;
            }
            $(this).button("loading")
            var params = $("#Bianmajifuhe-dtl7-form").serializeJson('&');
            params = $.extend(params, getMstObject());

            $.post("/DemandBook/SaveBianmajifuheDtl7", params, function (data) {
                $("#RequirementId").val(data);
                loadBianmajifuheDtl7();
                closeModal();
            });
        })
    })
</script>